Repository opendistro-for-elasticsearch/sql, pull requests merged in 2020-12, with the labels that each got.

#854 Add JDBC formatter in new SQL engine
  integ-test/build.gradle
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/legacy/QueryIT.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/sql/DateTimeFunctionIT.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/sql/JdbcFormatIT.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/sql/MathematicalFunctionIT.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/sql/TextFunctionIT.java
  legacy/src/main/java/com/amazon/opendistroforelasticsearch/sql/legacy/plugin/RestSQLQueryAction.java
  protocol/build.gradle
  protocol/src/main/java/com/amazon/opendistroforelasticsearch/sql/protocol/response/QueryResult.java
  protocol/src/main/java/com/amazon/opendistroforelasticsearch/sql/protocol/response/format/JdbcResponseFormatter.java
  protocol/src/main/java/com/amazon/opendistroforelasticsearch/sql/protocol/response/format/JsonResponseFormatter.java
  protocol/src/test/java/com/amazon/opendistroforelasticsearch/sql/protocol/response/format/JdbcResponseFormatterTest.java
Labels: SQL

#873 Add identifier and datatype documentation for PPL
  docs/category.json
  docs/experiment/ppl/general/datatypes.rst
  docs/experiment/ppl/general/identifiers.rst
  docs/experiment/ppl/index.rst
Labels: documentation

#856 Sort aggregation push down
  docs/category.json
  docs/experiment/ppl/admin/settings.rst
  docs/experiment/ppl/index.rst
  docs/user/index.rst
  docs/user/limitations/limitations.rst
  docs/user/optimization/optimization.rst
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/planner/logical/ElasticsearchLogicalIndexAgg.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/planner/logical/ElasticsearchLogicalPlanOptimizerFactory.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/planner/logical/rule/MergeSortAndIndexAgg.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/planner/logical/rule/OptimizationRuleUtils.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/ElasticsearchIndex.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/script/aggregation/AggregationQueryBuilder.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/script/aggregation/dsl/BucketAggregationBuilder.java
  elasticsearch/src/test/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/planner/logical/ElasticsearchLogicOptimizerTest.java
  elasticsearch/src/test/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/script/aggregation/AggregationQueryBuilderTest.java
  elasticsearch/src/test/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/script/aggregation/GroupSortOrderTest.java
  elasticsearch/src/test/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/script/aggregation/dsl/BucketAggregationBuilderTest.java
  elasticsearch/src/test/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/utils/Utils.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/ppl/ExplainIT.java
  integ-test/src/test/resources/expectedOutput/ppl/explain_output.json
Labels: enhancement

#893 Add like, isnull, isnotnull function in PPL
  docs/category.json
  docs/experiment/ppl/functions/condition.rst
  docs/experiment/ppl/functions/datetime.rst
  docs/experiment/ppl/functions/math.rst
  docs/experiment/ppl/functions/string.rst
  docs/experiment/ppl/index.rst
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/ppl/OperatorIT.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/ppl/WhereCommandIT.java
  ppl/src/main/antlr/OpenDistroPPLLexer.g4
  ppl/src/main/antlr/OpenDistroPPLParser.g4
  ppl/src/main/java/com/amazon/opendistroforelasticsearch/sql/ppl/parser/AstExpressionBuilder.java
  ppl/src/test/java/com/amazon/opendistroforelasticsearch/sql/ppl/parser/AstExpressionBuilderTest.java
Labels: PPL, enhancement

#886 Fix workbench bugs from plugin platform upgrade
  workbench/.cypress/integration/ui.spec.js
  workbench/.cypress/utils/constants.js
  workbench/public/components/Main/main.tsx
  workbench/public/components/QueryResults/QueryResults.tsx
  workbench/public/components/QueryResults/QueryResultsBody.tsx
  workbench/public/components/QueryResults/__snapshots__/QueryResults.test.tsx.snap
  workbench/server/plugin.ts
  workbench/server/routes/query.ts
  workbench/server/routes/translate.ts
  workbench/server/services/QueryService.ts
  workbench/server/services/TranslateService.ts
  workbench/server/services/utils/constants.ts
Labels: Workbench, bug

#833 Support SELECT DISTINCT in new SQL engine
  docs/user/dql/basics.rst
  integ-test/src/test/resources/correctness/queries/select.txt
  sql/src/main/antlr/OpenDistroSQLParser.g4
  sql/src/main/java/com/amazon/opendistroforelasticsearch/sql/sql/parser/AstAggregationBuilder.java
  sql/src/main/java/com/amazon/opendistroforelasticsearch/sql/sql/parser/context/QuerySpecification.java
  sql/src/test/java/com/amazon/opendistroforelasticsearch/sql/sql/antlr/SQLSyntaxParserTest.java
  sql/src/test/java/com/amazon/opendistroforelasticsearch/sql/sql/parser/AstBuilderTest.java
Labels: SQL

#902 Fix select all from subquery issue
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/analysis/Analyzer.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/ast/dsl/AstDSL.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/analysis/AnalyzerTest.java
  integ-test/src/test/resources/correctness/bugfixes/901.txt
  integ-test/src/test/resources/correctness/queries/subquries.txt
Labels: SQL, bug

#866 Added keywords option as alias identifier in SQL parser
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/legacy/AggregationExpressionIT.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/legacy/DateFormatIT.java
  integ-test/src/test/resources/correctness/queries/select.txt
  ppl/src/main/antlr/OpenDistroPPLParser.g4
  ppl/src/main/java/com/amazon/opendistroforelasticsearch/sql/ppl/parser/AstExpressionBuilder.java
  ppl/src/test/java/com/amazon/opendistroforelasticsearch/sql/ppl/parser/AstExpressionBuilderTest.java
  sql/src/main/antlr/OpenDistroSQLIdentifierParser.g4
  sql/src/main/java/com/amazon/opendistroforelasticsearch/sql/sql/parser/AstExpressionBuilder.java
  sql/src/main/java/com/amazon/opendistroforelasticsearch/sql/sql/parser/AstHavingFilterBuilder.java
  sql/src/test/java/com/amazon/opendistroforelasticsearch/sql/sql/parser/AstBuilderTest.java
  sql/src/test/java/com/amazon/opendistroforelasticsearch/sql/sql/parser/AstExpressionBuilderTest.java
  sql/src/test/java/com/amazon/opendistroforelasticsearch/sql/sql/parser/AstHavingFilterBuilderTest.java
Labels: SQL

#887 Add basic PPL support to CLI for the purpose of doctest
  .github/workflows/sql-cli-test-and-build-workflow.yml
  doctest/bootstrap.sh
  sql-cli/README.md
  sql-cli/setup.py
  sql-cli/src/odfe_sql_cli/esconnection.py
  sql-cli/src/odfe_sql_cli/main.py
  sql-cli/src/odfe_sql_cli/odfesql_cli.py
  sql-cli/tests/test_odfesql_cli.py
Labels: CLI, enhancement

#910 Enable failed test logging and fix flaky UT
  core/build.gradle
  elasticsearch/build.gradle
  legacy/build.gradle
  ppl/build.gradle
  protocol/build.gradle
  sql/build.gradle
  sql/src/main/java/com/amazon/opendistroforelasticsearch/sql/sql/parser/context/QuerySpecification.java
  sql/src/test/java/com/amazon/opendistroforelasticsearch/sql/sql/parser/AstBuilderTest.java
Labels: infra

#907 Support show and describe statement
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/analysis/TypeEnvironment.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/analysis/symbol/SymbolTable.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/data/type/ExprCoreType.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/data/type/ExprType.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/storage/TableScanOperator.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/utils/SystemIndexUtils.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/analysis/SelectAnalyzeTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/data/type/ExprTypeTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/executor/ExplainTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/storage/TableScanOperatorTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/utils/SystemIndexUtilsTest.java
  docs/experiment/ppl/cmd/search.rst
  docs/experiment/ppl/cmd/stats.rst
  docs/user/general/identifiers.rst
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/client/ElasticsearchClient.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/client/ElasticsearchNodeClient.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/client/ElasticsearchRestClient.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/data/type/ElasticsearchDataType.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/executor/ElasticsearchExecutionEngine.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/request/system/ElasticsearchCatIndicesRequest.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/request/system/ElasticsearchDescribeIndexRequest.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/request/system/ElasticsearchSystemRequest.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/ElasticsearchIndex.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/ElasticsearchIndexScan.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/ElasticsearchStorageEngine.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/system/ElasticsearchSystemIndex.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/system/ElasticsearchSystemIndexScan.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/system/ElasticsearchSystemIndexSchema.java
  elasticsearch/src/test/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/client/ElasticsearchNodeClientTest.java
  elasticsearch/src/test/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/client/ElasticsearchRestClientTest.java
  elasticsearch/src/test/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/data/type/ElasticsearchDataTypeTest.java
  elasticsearch/src/test/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/executor/ElasticsearchExecutionEngineTest.java
  elasticsearch/src/test/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/request/system/ElasticsearchCatIndicesRequestTest.java
  elasticsearch/src/test/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/request/system/ElasticsearchDescribeIndexRequestTest.java
  elasticsearch/src/test/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/ElasticsearchStorageEngineTest.java
  elasticsearch/src/test/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/system/ElasticsearchSystemIndexScanTest.java
  elasticsearch/src/test/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/system/ElasticsearchSystemIndexTest.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/legacy/MetaDataQueriesIT.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/sql/AdminIT.java
  integ-test/src/test/resources/expectedOutput/ppl/explain_filter_agg_push.json
  integ-test/src/test/resources/expectedOutput/ppl/explain_filter_push.json
  integ-test/src/test/resources/expectedOutput/ppl/explain_sort_push.json
  integ-test/src/test/resources/expectedOutput/sql/explain_show.json
  protocol/src/main/java/com/amazon/opendistroforelasticsearch/sql/protocol/response/format/JdbcResponseFormatter.java
  sql/src/main/antlr/OpenDistroSQLLexer.g4
  sql/src/main/antlr/OpenDistroSQLParser.g4
  sql/src/main/java/com/amazon/opendistroforelasticsearch/sql/sql/parser/AstBuilder.java
  sql/src/main/java/com/amazon/opendistroforelasticsearch/sql/sql/parser/AstExpressionBuilder.java
  sql/src/test/java/com/amazon/opendistroforelasticsearch/sql/sql/parser/AstBuilderTest.java
Labels: Breaking Changes, SQL

#870 Add CSV formatter in new engine
  docs/user/interfaces/protocol.rst
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/legacy/CsvFormatResponseIT.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/legacy/SQLIntegTestCase.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/legacy/TestsConstants.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/ppl/CsvFormatIT.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/ppl/PPLIntegTestCase.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/sql/CsvFormatIT.java
  integ-test/src/test/resources/bank_csv_sanitize.json
  legacy/src/main/java/com/amazon/opendistroforelasticsearch/sql/legacy/plugin/RestSQLQueryAction.java
  legacy/src/main/java/com/amazon/opendistroforelasticsearch/sql/legacy/plugin/RestSqlAction.java
  legacy/src/main/java/com/amazon/opendistroforelasticsearch/sql/legacy/plugin/RestSqlStatsAction.java
  legacy/src/main/java/com/amazon/opendistroforelasticsearch/sql/legacy/request/SqlRequestParam.java
  plugin/src/main/java/com/amazon/opendistroforelasticsearch/sql/plugin/request/PPLQueryRequestFactory.java
  plugin/src/main/java/com/amazon/opendistroforelasticsearch/sql/plugin/rest/RestPPLQueryAction.java
  plugin/src/main/java/com/amazon/opendistroforelasticsearch/sql/plugin/rest/RestPPLStatsAction.java
  ppl/src/main/java/com/amazon/opendistroforelasticsearch/sql/ppl/domain/PPLQueryRequest.java
  ppl/src/test/java/com/amazon/opendistroforelasticsearch/sql/ppl/PPLServiceTest.java
  ppl/src/test/java/com/amazon/opendistroforelasticsearch/sql/ppl/domain/PPLQueryRequestTest.java
  protocol/src/main/java/com/amazon/opendistroforelasticsearch/sql/protocol/response/format/CsvResponseFormatter.java
  protocol/src/main/java/com/amazon/opendistroforelasticsearch/sql/protocol/response/format/ErrorFormatter.java
  protocol/src/main/java/com/amazon/opendistroforelasticsearch/sql/protocol/response/format/Format.java
  protocol/src/main/java/com/amazon/opendistroforelasticsearch/sql/protocol/response/format/JsonResponseFormatter.java
  protocol/src/test/java/com/amazon/opendistroforelasticsearch/sql/protocol/response/format/CsvResponseFormatterTest.java
  protocol/src/test/java/com/amazon/opendistroforelasticsearch/sql/protocol/response/format/FormatTest.java
  sql/src/main/java/com/amazon/opendistroforelasticsearch/sql/sql/domain/SQLQueryRequest.java
  sql/src/test/java/com/amazon/opendistroforelasticsearch/sql/sql/SQLServiceTest.java
  sql/src/test/java/com/amazon/opendistroforelasticsearch/sql/sql/domain/SQLQueryRequestTest.java
Labels: PPL, SQL

#912 Improve logging in new SQL engine
  README.md
  legacy/src/main/java/com/amazon/opendistroforelasticsearch/sql/legacy/plugin/RestSQLQueryAction.java
  legacy/src/main/java/com/amazon/opendistroforelasticsearch/sql/legacy/plugin/RestSqlAction.java
Labels: SQL

#895 Fix CASE clause pushdown issue
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/analysis/ExpressionReferenceOptimizer.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/ast/expression/Literal.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/expression/ExpressionNodeVisitor.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/expression/conditional/cases/CaseClause.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/expression/conditional/cases/WhenClause.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/analysis/ExpressionAnalyzerTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/analysis/ExpressionReferenceOptimizerTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/expression/conditional/cases/CaseClauseTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/expression/conditional/cases/WhenClauseTest.java
  integ-test/src/test/resources/correctness/bugfixes/582.txt
  integ-test/src/test/resources/correctness/bugfixes/877.txt
  integ-test/src/test/resources/correctness/expressions/conditionals.txt
Labels: SQL, bug

#926 Support cast function in SQL
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/analysis/ExpressionAnalyzer.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/ast/AbstractNodeVisitor.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/ast/dsl/AstDSL.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/ast/expression/Cast.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/expression/DSL.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/expression/config/ExpressionConfig.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/expression/function/BuiltinFunctionName.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/expression/operator/convert/TypeCastOperator.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/analysis/ExpressionAnalyzerTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/expression/operator/convert/TypeCastOperatorTest.java
  docs/user/dql/functions.rst
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/legacy/AggregationExpressionIT.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/legacy/SQLFunctionsIT.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/legacy/SQLIntegTestCase.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/util/MatcherUtils.java
  integ-test/src/test/resources/correctness/expressions/cast.txt
  sql/src/main/antlr/OpenDistroSQLLexer.g4
  sql/src/main/antlr/OpenDistroSQLParser.g4
  sql/src/main/java/com/amazon/opendistroforelasticsearch/sql/sql/parser/AstExpressionBuilder.java
  sql/src/test/java/com/amazon/opendistroforelasticsearch/sql/sql/parser/AstExpressionBuilderTest.java
Labels: SQL

#933 Project operator pushdown
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/expression/ExpressionNodeVisitor.java
  docs/user/optimization/optimization.rst
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/planner/logical/ElasticsearchLogicalIndexScan.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/planner/logical/ElasticsearchLogicalPlanOptimizerFactory.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/planner/logical/rule/OptimizationRuleUtils.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/planner/logical/rule/PushProjectAndIndexScan.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/planner/logical/rule/PushProjectAndRelation.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/ElasticsearchIndex.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/ElasticsearchIndexScan.java
  elasticsearch/src/test/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/planner/logical/ElasticsearchLogicOptimizerTest.java
  elasticsearch/src/test/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/planner/logical/ElasticsearchLogicalIndexScanTest.java
  elasticsearch/src/test/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/ElasticsearchIndexScanTest.java
  elasticsearch/src/test/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/ElasticsearchIndexTest.java
  elasticsearch/src/test/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/utils/Utils.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/ppl/ExplainIT.java
  integ-test/src/test/resources/expectedOutput/ppl/explain_filter_push.json
  integ-test/src/test/resources/expectedOutput/ppl/explain_sort_push.json
Labels: PPL, SQL, enhancement

#905 Added metrics for SQL query requests in new engine
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/sql/MetricsIT.java
  legacy/src/main/java/com/amazon/opendistroforelasticsearch/sql/legacy/plugin/RestSQLQueryAction.java
Labels: SQL

#932 Use name and alias in JDBC format
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/analysis/Analyzer.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/analysis/ExpressionReferenceOptimizer.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/expression/NamedExpression.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/planner/physical/AggregationOperator.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/planner/physical/ProjectOperator.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/analysis/NamedExpressionAnalyzerTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/expression/NamedExpressionTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/planner/physical/ProjectOperatorTest.java
  doctest/bootstrap.sh
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/script/aggregation/AggregationQueryBuilder.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/script/aggregation/dsl/BucketAggregationBuilder.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/legacy/AggregationExpressionIT.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/legacy/AggregationIT.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/legacy/PrettyFormatResponseIT.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/legacy/SQLFunctionsIT.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/sql/JdbcFormatIT.java
  protocol/src/main/java/com/amazon/opendistroforelasticsearch/sql/protocol/response/QueryResult.java
  protocol/src/test/java/com/amazon/opendistroforelasticsearch/sql/protocol/response/QueryResultTest.java
  protocol/src/test/java/com/amazon/opendistroforelasticsearch/sql/protocol/response/format/CsvResponseFormatterTest.java
  protocol/src/test/java/com/amazon/opendistroforelasticsearch/sql/protocol/response/format/SimpleJsonResponseFormatterTest.java
  sql-cli/src/odfe_sql_cli/formatter.py
  sql-cli/tests/test_formatter.py
Labels: CLI, SQL

#943 Fix workbench issue in backported 1.11 branch: error message cannot display
  workbench/public/app.scss
  workbench/public/components/Main/main.test.tsx
  workbench/public/components/Main/main.tsx
  workbench/test/mocks/mockData.ts
Labels: Workbench, bug

#944 Fill hyphen strings to workbench table cells that have null and missing values
  workbench/package.json
  workbench/public/components/Main/__snapshots__/main.test.tsx.snap
  workbench/public/components/Main/main.test.tsx
  workbench/public/components/Main/main.tsx
  workbench/test/mocks/mockData.ts
  workbench/yarn.lock
Labels: Workbench, enhancement
