Repository opendistro-for-elasticsearch/sql, pull requests merged in 2020-10, with the labels that each got.

#763 Add LogicalPlan optimization
  build.gradle
  core/build.gradle
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/planner/DefaultImplementor.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/planner/Planner.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/planner/logical/LogicalAggregation.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/planner/logical/LogicalDedupe.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/planner/logical/LogicalEval.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/planner/logical/LogicalFilter.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/planner/logical/LogicalHead.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/planner/logical/LogicalIndexScan.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/planner/logical/LogicalIndexScanAggregation.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/planner/logical/LogicalPlan.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/planner/logical/LogicalPlanDSL.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/planner/logical/LogicalPlanNodeVisitor.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/planner/logical/LogicalProject.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/planner/logical/LogicalRareTopN.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/planner/logical/LogicalRelation.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/planner/logical/LogicalRemove.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/planner/logical/LogicalRename.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/planner/logical/LogicalSort.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/planner/logical/LogicalValues.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/planner/optimizer/LogicalPlanOptimizer.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/planner/optimizer/Rule.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/planner/optimizer/pattern/Patterns.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/planner/optimizer/rule/MergeAggAndIndexScan.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/planner/optimizer/rule/MergeAggAndRelation.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/planner/optimizer/rule/MergeFilterAndFilter.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/planner/optimizer/rule/MergeFilterAndRelation.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/planner/DefaultImplementorTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/planner/PlannerTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/planner/logical/LogicalIndexScanAggregationTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/planner/logical/LogicalIndexScanTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/planner/optimizer/LogicalPlanOptimizerTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/planner/optimizer/pattern/PatternsTest.java
  docs/experiment/ppl/index.rst
  docs/experiment/ppl/interfaces/endpoint.rst
  docs/user/dql/functions.rst
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/ElasticsearchIndex.java
  elasticsearch/src/test/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/ElasticsearchIndexTest.java
  integ-test/build.gradle
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/ppl/ExplainIT.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/util/MatcherUtils.java
  integ-test/src/test/resources/expectedOutput/ppl/explain_filter_agg_push.json
  integ-test/src/test/resources/expectedOutput/ppl/explain_filter_push.json
  plugin/build.gradle
  ppl/src/main/java/com/amazon/opendistroforelasticsearch/sql/ppl/PPLService.java
  ppl/src/main/java/com/amazon/opendistroforelasticsearch/sql/ppl/config/PPLServiceConfig.java
  sql/src/main/java/com/amazon/opendistroforelasticsearch/sql/sql/SQLService.java
  sql/src/main/java/com/amazon/opendistroforelasticsearch/sql/sql/config/SQLServiceConfig.java
Labels: PPL, SQL

#767 Bug fix, using Local.Root when format the string
  common/src/main/java/com/amazon/opendistroforelasticsearch/sql/common/utils/StringUtils.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/ppl/DateTimeFunctionIT.java
Labels: PPL, SQL

#773 Fix cast statement in aggregate function return 0
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/legacy/AggregationExpressionIT.java
  legacy/src/main/java/com/amazon/opendistroforelasticsearch/sql/legacy/parser/FieldMaker.java
Labels: SQL, bug

#771 Fix bug, support multiple aggregation
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/response/ElasticsearchAggregationResponseParser.java
  elasticsearch/src/test/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/response/ElasticsearchAggregationResponseParserTest.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/ppl/StatsCommandIT.java
Labels: PPL, bug

#774 Enforce 100% branch coverage for sql and es module
  elasticsearch/build.gradle
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/ElasticsearchIndexScan.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/script/core/ExpressionScript.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/script/filter/ExpressionFilterScript.java
  elasticsearch/src/test/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/response/ElasticsearchResponseTest.java
  elasticsearch/src/test/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/script/filter/ExpressionFilterScriptTest.java
  elasticsearch/src/test/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/script/filter/FilterQueryBuilderTest.java
  elasticsearch/src/test/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/script/filter/lucene/LuceneQueryTest.java
  sql/build.gradle
  sql/src/main/java/com/amazon/opendistroforelasticsearch/sql/sql/domain/SQLQueryRequest.java
  sql/src/main/java/com/amazon/opendistroforelasticsearch/sql/sql/parser/AstAggregationBuilder.java
  sql/src/test/java/com/amazon/opendistroforelasticsearch/sql/sql/domain/SQLQueryRequestTest.java
  sql/src/test/java/com/amazon/opendistroforelasticsearch/sql/sql/parser/AstAggregationBuilderTest.java
  sql/src/test/java/com/amazon/opendistroforelasticsearch/sql/sql/parser/AstExpressionBuilderTest.java
Labels: infra

#775 Support describe index alias
  docs/user/dql/metadata.rst
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/legacy/MetaDataQueriesIT.java
  legacy/src/main/java/com/amazon/opendistroforelasticsearch/sql/legacy/executor/format/DescribeResultSet.java
  legacy/src/main/java/com/amazon/opendistroforelasticsearch/sql/legacy/executor/format/ResultSet.java
  legacy/src/main/java/com/amazon/opendistroforelasticsearch/sql/legacy/executor/format/ShowResultSet.java
  legacy/src/test/java/com/amazon/opendistroforelasticsearch/sql/legacy/executor/format/ResultSetTest.java
Labels: SQL, enhancement

#780 Add support of basic data types byte, short, binary and add data type testing
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/data/model/AbstractExprNumberValue.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/data/model/ExprByteValue.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/data/model/ExprValue.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/data/model/ExprValueUtils.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/data/type/ExprCoreType.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/expression/DSL.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/expression/operator/arthmetic/ArithmeticFunction.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/expression/operator/arthmetic/MathematicalFunction.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/data/model/ExprValueUtilsTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/data/utils/ExprValueOrderingTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/expression/function/WideningTypeRuleTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/expression/operator/arthmetic/ArithmeticFunctionTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/expression/operator/arthmetic/MathematicalFunctionTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/expression/operator/predicate/BinaryPredicateOperatorTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/utils/ComparisonUtil.java
  docs/user/general/datatypes.rst
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/data/type/ElasticsearchDataType.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/data/value/ElasticsearchExprBinaryValue.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/data/value/ElasticsearchExprValueFactory.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/ElasticsearchIndex.java
  elasticsearch/src/test/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/data/value/ElasticsearchExprBinaryValueTest.java
  elasticsearch/src/test/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/data/value/ElasticsearchExprValueFactoryTest.java
  elasticsearch/src/test/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/ElasticsearchIndexTest.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/legacy/SQLIntegTestCase.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/legacy/TestUtils.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/legacy/TestsConstants.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/ppl/DataTypeIT.java
  integ-test/src/test/resources/datatypes.json
  integ-test/src/test/resources/datatypes_numeric.json
  integ-test/src/test/resources/indexDefinitions/datatypes_index_mapping.json
  integ-test/src/test/resources/indexDefinitions/datatypes_numeric_index_mapping.json
  sql-jdbc/src/main/java/com/amazon/opendistroforelasticsearch/jdbc/types/BinaryType.java
  sql-jdbc/src/main/java/com/amazon/opendistroforelasticsearch/jdbc/types/ElasticsearchType.java
  sql-jdbc/src/main/java/com/amazon/opendistroforelasticsearch/jdbc/types/TypeConverters.java
  sql-jdbc/src/test/java/com/amazon/opendistroforelasticsearch/jdbc/types/BinaryTypeTests.java
Labels: PPL

#782 Support ORDER BY in new SQL engine
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/analysis/Analyzer.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/ast/dsl/AstDSL.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/ast/expression/Field.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/analysis/AnalyzerTest.java
  docs/category.json
  docs/user/dql/basics.rst
  integ-test/build.gradle
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/correctness/runner/connection/JDBCConnection.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/correctness/runner/resultset/DBResult.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/correctness/tests/DBResultTest.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/correctness/tests/JDBCConnectionTest.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/legacy/JdbcTestIT.java
  integ-test/src/test/resources/correctness/bugfixes/123.txt
  integ-test/src/test/resources/correctness/bugfixes/277.txt
  integ-test/src/test/resources/correctness/bugfixes/674.txt
  integ-test/src/test/resources/correctness/queries/orderby.txt
  sql/src/main/antlr/OpenDistroSQLParser.g4
  sql/src/main/java/com/amazon/opendistroforelasticsearch/sql/sql/parser/AstAggregationBuilder.java
  sql/src/main/java/com/amazon/opendistroforelasticsearch/sql/sql/parser/AstBuilder.java
  sql/src/main/java/com/amazon/opendistroforelasticsearch/sql/sql/parser/AstSortBuilder.java
  sql/src/main/java/com/amazon/opendistroforelasticsearch/sql/sql/parser/context/QuerySpecification.java
  sql/src/test/java/com/amazon/opendistroforelasticsearch/sql/sql/parser/AstAggregationBuilderTest.java
  sql/src/test/java/com/amazon/opendistroforelasticsearch/sql/sql/parser/AstBuilderTest.java
  sql/src/test/java/com/amazon/opendistroforelasticsearch/sql/sql/parser/AstSortBuilderTest.java
Labels: SQL

#792 Update cypress tests and increase delay time
  workbench/.cypress/integration/ui.spec.js
  workbench/.cypress/utils/constants.js
Labels: Workbench

#799 Adding example of nested() for more complex nested queries
  README.md
Labels: SQL, documentation

#798 Support HAVING in new SQL engine
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/analysis/Analyzer.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/analysis/AnalyzerTest.java
  docs/user/dql/aggregations.rst
  integ-test/src/test/resources/correctness/queries/groupby.txt
  sql/src/main/antlr/OpenDistroSQLParser.g4
  sql/src/main/java/com/amazon/opendistroforelasticsearch/sql/sql/parser/AstAggregationBuilder.java
  sql/src/main/java/com/amazon/opendistroforelasticsearch/sql/sql/parser/AstBuilder.java
  sql/src/main/java/com/amazon/opendistroforelasticsearch/sql/sql/parser/AstHavingFilterBuilder.java
  sql/src/main/java/com/amazon/opendistroforelasticsearch/sql/sql/parser/context/QuerySpecification.java
  sql/src/test/java/com/amazon/opendistroforelasticsearch/sql/sql/parser/AstAggregationBuilderTest.java
  sql/src/test/java/com/amazon/opendistroforelasticsearch/sql/sql/parser/AstBuilderTest.java
  sql/src/test/java/com/amazon/opendistroforelasticsearch/sql/sql/parser/AstHavingFilterBuilderTest.java
Labels: SQL

#804 Updated Mac version for GitHub action build
  sql-odbc/src/CMakeLists.txt
Labels: ODBC, build, infra

#802 Support COUNT star and literal in new engine
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/analysis/ExpressionAnalyzer.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/analysis/ExpressionAnalyzerTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/expression/aggregation/CountAggregatorTest.java
  docs/user/dql/aggregations.rst
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/script/aggregation/dsl/MetricAggregationBuilder.java
  elasticsearch/src/test/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/script/aggregation/dsl/MetricAggregationBuilderTest.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/legacy/PrettyFormatResponseIT.java
  integ-test/src/test/resources/correctness/queries/groupby.txt
  sql/src/main/antlr/OpenDistroSQLParser.g4
  sql/src/main/java/com/amazon/opendistroforelasticsearch/sql/sql/parser/AstExpressionBuilder.java
  sql/src/test/java/com/amazon/opendistroforelasticsearch/sql/sql/parser/AstBuilderTest.java
Labels: SQL
