Repository opendistro-for-elasticsearch/sql, pull requests merged in 2020-11, with the labels that each got.

#826 Add doc for ODFE SQL demo
  docs/user/presentations/111620-sql-demo.md
Labels: SQL, documentation

#818 Support CASE clause in new engine
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/analysis/ExpressionAnalyzer.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/ast/AbstractNodeVisitor.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/ast/dsl/AstDSL.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/ast/expression/Case.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/ast/expression/When.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/expression/DSL.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/expression/ExpressionNodeVisitor.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/expression/conditional/cases/CaseClause.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/expression/conditional/cases/WhenClause.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/analysis/ExpressionAnalyzerTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/expression/ExpressionNodeVisitorTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/expression/conditional/ConditionalFunctionTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/expression/conditional/cases/CaseClauseTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/expression/conditional/cases/WhenClauseTest.java
  docs/user/dql/functions.rst
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/legacy/QueryIT.java
  integ-test/src/test/resources/correctness/expressions/conditionals.txt
  sql/src/main/antlr/OpenDistroSQLParser.g4
  sql/src/main/java/com/amazon/opendistroforelasticsearch/sql/sql/parser/AstExpressionBuilder.java
  sql/src/test/java/com/amazon/opendistroforelasticsearch/sql/sql/antlr/SQLSyntaxParserTest.java
  sql/src/test/java/com/amazon/opendistroforelasticsearch/sql/sql/parser/AstExpressionBuilderTest.java
Labels: SQL

#822 Support subquery in FROM clause in new engine
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/analysis/Analyzer.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/ast/AbstractNodeVisitor.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/ast/dsl/AstDSL.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/ast/tree/RelationSubquery.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/analysis/AnalyzerTest.java
  docs/category.json
  docs/user/dql/complex.rst
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/legacy/SubqueryIT.java
  integ-test/src/test/resources/correctness/bugfixes/375.txt
  integ-test/src/test/resources/correctness/queries/subquries.txt
  sql/src/main/antlr/OpenDistroSQLParser.g4
  sql/src/main/java/com/amazon/opendistroforelasticsearch/sql/sql/parser/AstBuilder.java
  sql/src/main/java/com/amazon/opendistroforelasticsearch/sql/sql/parser/context/QuerySpecification.java
  sql/src/test/java/com/amazon/opendistroforelasticsearch/sql/sql/parser/AstBuilderTest.java
Labels: SQL

#831 Fix symbol error and Fix SSLError when connect es.
  sql-cli/README.md
  sql-cli/src/odfe_sql_cli/esconnection.py
  sql-cli/tests/test_esconnection.py
Labels: CLI

#820 Update out-of-date documentation
  README.md
  docs/developing.rst
  docs/experiment/ppl/admin/monitoring.rst
  docs/experiment/ppl/index.rst
  docs/user/beyond/partiql.rst
Labels: SQL, documentation

#835 add codecov for sql plugin
  .codecov.yml
  .github/workflows/sql-test-and-build-workflow.yml
  README.md
  core/build.gradle
  elasticsearch/build.gradle
  ppl/build.gradle
  protocol/build.gradle
  sql/build.gradle
Labels: maintenance

#843 Support NULLS FIRST/LAST in new engine
  README.md
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/analysis/Analyzer.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/analysis/AnalyzerTest.java
  docs/user/dql/basics.rst
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/correctness/runner/connection/ESConnection.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/correctness/runner/connection/JDBCConnection.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/correctness/tests/ESConnectionTest.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/correctness/tests/JDBCConnectionTest.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/correctness/tests/TestDataSetTest.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/correctness/testset/TestDataSet.java
  integ-test/src/test/resources/correctness/bugfixes/277.txt
  integ-test/src/test/resources/correctness/kibana_sample_data_flights.csv
  integ-test/src/test/resources/correctness/queries/orderby.txt
  sql/src/main/antlr/OpenDistroSQLLexer.g4
  sql/src/main/antlr/OpenDistroSQLParser.g4
  sql/src/main/java/com/amazon/opendistroforelasticsearch/sql/sql/parser/AstSortBuilder.java
  sql/src/main/java/com/amazon/opendistroforelasticsearch/sql/sql/parser/context/QuerySpecification.java
  sql/src/test/java/com/amazon/opendistroforelasticsearch/sql/sql/antlr/SQLSyntaxParserTest.java
  sql/src/test/java/com/amazon/opendistroforelasticsearch/sql/sql/parser/AstBuilderTest.java
  sql/src/test/java/com/amazon/opendistroforelasticsearch/sql/sql/parser/AstSortBuilderTest.java
  sql/src/test/java/com/amazon/opendistroforelasticsearch/sql/sql/parser/context/QuerySpecificationTest.java
Labels: SQL

#848 Sort field push down
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/analysis/Analyzer.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/analysis/WindowExpressionAnalyzer.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/ast/dsl/AstDSL.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/ast/tree/Sort.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/executor/Explain.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/planner/DefaultImplementor.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/planner/logical/LogicalPlanDSL.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/planner/logical/LogicalSort.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/planner/optimizer/LogicalPlanOptimizer.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/planner/optimizer/rule/PushFilterUnderSort.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/planner/physical/PhysicalPlanDSL.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/planner/physical/SortOperator.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/analysis/AnalyzerTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/analysis/WindowExpressionAnalyzerTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/executor/ExplainTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/planner/DefaultImplementorTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/planner/logical/LogicalPlanNodeVisitorTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/planner/logical/LogicalSortTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/planner/optimizer/LogicalPlanOptimizerTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/planner/physical/PhysicalPlanNodeVisitorTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/planner/physical/SortOperatorTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/planner/physical/WindowOperatorTest.java
  docs/experiment/ppl/cmd/sort.rst
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/executor/protector/ElasticsearchExecutionProtector.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/planner/logical/ElasticsearchLogicalPlanOptimizerFactory.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/planner/logical/rule/MergeSortAndIndexScan.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/planner/logical/rule/MergeSortAndRelation.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/planner/logical/rule/OptimizationRuleUtils.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/ElasticsearchIndex.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/ElasticsearchIndexScan.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/script/aggregation/ExpressionAggregationScript.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/script/core/ExpressionScript.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/script/filter/ExpressionFilterScript.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/script/filter/FilterQueryBuilder.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/script/sort/SortQueryBuilder.java
  elasticsearch/src/test/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/executor/ElasticsearchExecutionProtectorTest.java
  elasticsearch/src/test/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/planner/logical/ElasticsearchLogicOptimizerTest.java
  elasticsearch/src/test/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/ElasticsearchIndexTest.java
  elasticsearch/src/test/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/script/sort/SortQueryBuilderTest.java
  elasticsearch/src/test/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/utils/Utils.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/ppl/ExplainIT.java
  integ-test/src/test/resources/expectedOutput/ppl/explain_output.json
  integ-test/src/test/resources/expectedOutput/ppl/explain_sort_push.json
  ppl/src/main/antlr/OpenDistroPPLParser.g4
  ppl/src/main/java/com/amazon/opendistroforelasticsearch/sql/ppl/parser/AstBuilder.java
  ppl/src/main/java/com/amazon/opendistroforelasticsearch/sql/ppl/utils/ArgumentFactory.java
  ppl/src/main/java/com/amazon/opendistroforelasticsearch/sql/ppl/utils/PPLQueryDataAnonymizer.java
  ppl/src/test/java/com/amazon/opendistroforelasticsearch/sql/ppl/parser/AstBuilderTest.java
  ppl/src/test/java/com/amazon/opendistroforelasticsearch/sql/ppl/parser/AstExpressionBuilderTest.java
  ppl/src/test/java/com/amazon/opendistroforelasticsearch/sql/ppl/utils/ArgumentFactoryTest.java
  ppl/src/test/java/com/amazon/opendistroforelasticsearch/sql/ppl/utils/PPLQueryDataAnonymizerTest.java
  sql/src/main/java/com/amazon/opendistroforelasticsearch/sql/sql/parser/AstSortBuilder.java
  sql/src/test/java/com/amazon/opendistroforelasticsearch/sql/sql/parser/AstBuilderTest.java
  sql/src/test/java/com/amazon/opendistroforelasticsearch/sql/sql/parser/AstSortBuilderTest.java
Labels: enhancement
