Repository opendistro-for-elasticsearch/sql, pull requests merged in 2020-08, with the labels that each got.

#654 Merge "ODBC: Address negative connection test failures" into develop branch
  sql-odbc/src/odfesqlodbc/es_communication.cpp
  sql-odbc/src/odfesqlodbc/es_communication.h
  sql-odbc/src/odfesqlodbc/es_connection.cpp
  sql-odbc/src/odfesqlodbc/es_types.h
Labels: ODBC

#655 ODBC: Add direct link to README for connector files
  sql-odbc/README.md
Labels: ODBC

#652 ODBC: Use literals instead of parameters in Power BI data connector
  sql-odbc/docs/user/img/pbi_disable_parallel_loading_tables.png
  sql-odbc/docs/user/img/pbi_simple_graph.png
  sql-odbc/docs/user/power_bi_support.md
  sql-odbc/src/PowerBIConnector/OdfeSqlOdbcPBIConnector.pq
  sql-odbc/src/PowerBIConnector/bin/Release/OdfeSqlOdbcPBIConnector.mez
Labels: ODBC

#653 Revert "ODBC: Address negative connection test failures"
  sql-odbc/src/odfesqlodbc/es_communication.cpp
  sql-odbc/src/odfesqlodbc/es_communication.h
  sql-odbc/src/odfesqlodbc/es_connection.cpp
  sql-odbc/src/odfesqlodbc/es_types.h
Labels: ODBC

#658 Merge #584, #600, #609 for OD 1.8
  src/main/antlr/OpenDistroSqlParser.g4
  src/main/java/com/amazon/opendistroforelasticsearch/sql/esdomain/mapping/FieldMapping.java
  src/main/java/com/amazon/opendistroforelasticsearch/sql/executor/format/DescribeResultSet.java
  src/main/java/com/amazon/opendistroforelasticsearch/sql/executor/format/Schema.java
  src/main/java/com/amazon/opendistroforelasticsearch/sql/executor/format/SelectResultSet.java
  src/main/java/com/amazon/opendistroforelasticsearch/sql/query/ESActionFactory.java
  src/main/java/com/amazon/opendistroforelasticsearch/sql/utils/SQLFunctions.java
  src/test/java/com/amazon/opendistroforelasticsearch/sql/antlr/SyntaxAnalysisTest.java
  src/test/java/com/amazon/opendistroforelasticsearch/sql/esdomain/mapping/FieldMappingTest.java
  src/test/java/com/amazon/opendistroforelasticsearch/sql/esintgtest/ObjectFieldSelectIT.java
  src/test/java/com/amazon/opendistroforelasticsearch/sql/esintgtest/QueryIT.java
  src/test/java/com/amazon/opendistroforelasticsearch/sql/esintgtest/SQLFunctionsIT.java
  src/test/java/com/amazon/opendistroforelasticsearch/sql/esintgtest/SQLIntegTestCase.java
  src/test/java/com/amazon/opendistroforelasticsearch/sql/esintgtest/TestUtils.java
  src/test/java/com/amazon/opendistroforelasticsearch/sql/esintgtest/TestsConstants.java
  src/test/java/com/amazon/opendistroforelasticsearch/sql/unittest/utils/SQLFunctionsTest.java
  src/test/java/com/amazon/opendistroforelasticsearch/sql/util/MatcherUtils.java
  src/test/resources/deep_nested_index_data.json
Labels: SQL

#666 Fix for query folding issue while applying filter in PBID
  sql-odbc/src/IntegrationTests/ITODBCCatalog/test_odbc_catalog.cpp
  sql-odbc/src/PowerBIConnector/OdfeSqlOdbcPBIConnector.pq
  sql-odbc/src/PowerBIConnector/bin/Release/OdfeSqlOdbcPBIConnector.mez
  sql-odbc/src/odfesqlodbc/es_types.c
Labels: ODBC

#667 Support NULL and MISSING value in response
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/analysis/Analyzer.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/analysis/ExpressionAnalyzer.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/analysis/SelectExpressionAnalyzer.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/analysis/TypeEnvironment.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/analysis/symbol/SymbolTable.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/ast/AbstractNodeVisitor.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/ast/dsl/AstDSL.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/ast/expression/AllFields.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/ast/tree/Project.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/data/model/ExprMissingValue.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/executor/ExecutionEngine.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/expression/NamedExpression.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/planner/physical/PhysicalPlan.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/planner/physical/ProjectOperator.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/analysis/AnalyzerTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/analysis/AnalyzerTestBase.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/analysis/ExpressionAnalyzerTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/analysis/SelectAnalyzeTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/analysis/SelectExpressionAnalyzerTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/analysis/symbol/SymbolTableTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/config/TestConfig.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/data/model/ExprMissingValueTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/data/model/ExprTupleValueTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/expression/NamedExpressionTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/planner/logical/LogicalDedupeTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/planner/logical/LogicalEvalTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/planner/logical/LogicalSortTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/planner/physical/ProjectOperatorTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/planner/physical/RemoveOperatorTest.java
  docs/category.json
  docs/experiment/ppl/cmd/search.rst
  docs/user/general/identifiers.rst
  docs/user/general/values.rst
  doctest/test_data/accounts.json
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/executor/ElasticsearchExecutionEngine.java
  elasticsearch/src/test/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/executor/ElasticsearchExecutionEngineTest.java
  integ-test/build.gradle
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/ppl/DedupCommandIT.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/ppl/OperatorIT.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/ppl/StandaloneIT.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/util/MatcherUtils.java
  integ-test/src/test/resources/correctness/expressions/literals.txt
  legacy/src/main/java/com/amazon/opendistroforelasticsearch/sql/legacy/plugin/RestSQLQueryAction.java
  plugin/src/main/java/com/amazon/opendistroforelasticsearch/sql/plugin/rest/RestPPLQueryAction.java
  ppl/build.gradle
  ppl/src/main/java/com/amazon/opendistroforelasticsearch/sql/ppl/PPLService.java
  ppl/src/main/java/com/amazon/opendistroforelasticsearch/sql/ppl/utils/UnresolvedPlanHelper.java
  ppl/src/test/java/com/amazon/opendistroforelasticsearch/sql/ppl/PPLServiceTest.java
  ppl/src/test/java/com/amazon/opendistroforelasticsearch/sql/ppl/utils/UnresolvedPlanHelperTest.java
  protocol/src/main/java/com/amazon/opendistroforelasticsearch/sql/protocol/response/QueryResult.java
  protocol/src/test/java/com/amazon/opendistroforelasticsearch/sql/protocol/response/QueryResultTest.java
  protocol/src/test/java/com/amazon/opendistroforelasticsearch/sql/protocol/response/format/SimpleJsonResponseFormatterTest.java
  sql-jdbc/src/main/java/com/amazon/opendistroforelasticsearch/jdbc/types/ElasticsearchType.java
  sql/src/main/java/com/amazon/opendistroforelasticsearch/sql/sql/parser/AstBuilder.java
  sql/src/test/java/com/amazon/opendistroforelasticsearch/sql/sql/SQLServiceTest.java
  sql/src/test/java/com/amazon/opendistroforelasticsearch/sql/sql/parser/AstBuilderTest.java
Labels: PPL, SQL

#669 changes required for using to Power BI Service with Open Distro For Elasticsearch
  sql-odbc/docs/user/img/pbi_connection_string_options.png
  sql-odbc/docs/user/img/pbi_error_conn.png
  sql-odbc/docs/user/img/pbi_gateway_connector_path.png
  sql-odbc/docs/user/img/pbi_gateway_status.png
  sql-odbc/docs/user/img/pbi_publish_report.png
  sql-odbc/docs/user/img/pbi_publish_status.png
  sql-odbc/docs/user/img/pbi_select_workspace.png
  sql-odbc/docs/user/img/pbi_service_cluster_setting.png
  sql-odbc/docs/user/img/pbi_service_data_source.png
  sql-odbc/docs/user/img/pbi_service_data_source_success.png
  sql-odbc/docs/user/img/pbi_service_dataset_gateway.png
  sql-odbc/docs/user/img/pbi_service_dataset_refresh.png
  sql-odbc/docs/user/img/pbi_service_dataset_refresh_history.png
  sql-odbc/docs/user/img/pbi_service_edit_reoprt.png
  sql-odbc/docs/user/img/pbi_service_modified_report.png
  sql-odbc/docs/user/img/pbi_service_setting.png
  sql-odbc/docs/user/power_bi_service_support.md
  sql-odbc/docs/user/power_bi_support.md
  sql-odbc/src/PowerBIConnector/OdfeSqlOdbcPBIConnector.pq
  sql-odbc/src/PowerBIConnector/bin/Release/OdfeSqlOdbcPBIConnector.mez
Labels: ODBC

#663 Expression pushdown optimization
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/expression/Expression.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/expression/ExpressionNodeVisitor.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/expression/FunctionExpression.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/expression/LiteralExpression.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/expression/NamedExpression.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/expression/ReferenceExpression.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/expression/aggregation/Aggregator.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/expression/ExpressionNodeVisitorTest.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/data/value/ElasticsearchExprTextKeywordValue.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/data/value/ElasticsearchExprValueFactory.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/mapping/IndexMapping.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/ElasticsearchIndex.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/ElasticsearchIndexScan.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/script/ExpressionScriptEngine.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/script/filter/ExpressionFilterScript.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/script/filter/ExpressionFilterScriptFactory.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/script/filter/ExpressionFilterScriptLeafFactory.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/script/filter/FilterQueryBuilder.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/serialization/DefaultExpressionSerializer.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/serialization/ExpressionSerializer.java
  elasticsearch/src/test/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/client/ElasticsearchNodeClientTest.java
  elasticsearch/src/test/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/client/ElasticsearchRestClientTest.java
  elasticsearch/src/test/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/data/value/ElasticsearchExprTextKeywordValueTest.java
  elasticsearch/src/test/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/data/value/ElasticsearchExprValueFactoryTest.java
  elasticsearch/src/test/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/ElasticsearchIndexScanTest.java
  elasticsearch/src/test/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/ElasticsearchIndexTest.java
  elasticsearch/src/test/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/script/ExpressionScriptEngineTest.java
  elasticsearch/src/test/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/script/filter/ExpressionFilterScriptFactoryTest.java
  elasticsearch/src/test/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/script/filter/ExpressionFilterScriptTest.java
  elasticsearch/src/test/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/script/filter/FilterQueryBuilderTest.java
  elasticsearch/src/test/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/serialization/DefaultExpressionSerializerTest.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/legacy/QueryAnalysisIT.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/ppl/WhereCommandIT.java
  integ-test/src/test/resources/indexDefinitions/bank_index_mapping.json
  plugin/src/main/java/com/amazon/opendistroforelasticsearch/sql/plugin/SQLPlugin.java
Labels: PPL, SQL

#681 Add PPL enable/disable setting
  common/src/main/java/com/amazon/opendistroforelasticsearch/sql/common/setting/Settings.java
  docs/experiment/ppl/admin/settings.rst
  docs/experiment/ppl/interfaces/protocol.rst
  elasticsearch/build.gradle
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/response/error/ElasticsearchErrorMessage.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/response/error/ErrorMessage.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/response/error/ErrorMessageFactory.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/setting/ElasticsearchSettings.java
  elasticsearch/src/test/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/response/error/ElasticsearchErrorMessageTest.java
  elasticsearch/src/test/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/response/error/ErrorMessageFactoryTest.java
  elasticsearch/src/test/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/response/error/ErrorMessageTest.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/ppl/PPLIntegTestCase.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/ppl/PPLPluginIT.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/ppl/ResourceMonitorIT.java
  plugin/src/main/java/com/amazon/opendistroforelasticsearch/sql/plugin/SQLPlugin.java
  plugin/src/main/java/com/amazon/opendistroforelasticsearch/sql/plugin/rest/RestPPLQueryAction.java
Labels: PPL

#671 Lucene query pushdown optimization
  docs/user/index.rst
  docs/user/limitations/limitations.rst
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/ElasticsearchIndex.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/ElasticsearchIndexScan.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/script/filter/FilterQueryBuilder.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/script/filter/lucene/LuceneQuery.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/script/filter/lucene/RangeQuery.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/script/filter/lucene/TermQuery.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/script/filter/lucene/WildcardQuery.java
  elasticsearch/src/test/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/ElasticsearchIndexScanTest.java
  elasticsearch/src/test/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/ElasticsearchIndexTest.java
  elasticsearch/src/test/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/script/filter/FilterQueryBuilderTest.java
  elasticsearch/src/test/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/script/filter/lucene/LuceneQueryTest.java
  elasticsearch/src/test/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/script/filter/lucene/RangeQueryTest.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/ppl/StatsCommandIT.java
Labels: PPL, SQL

#562 Add Cypress testing for SQL Workbench
  sql-workbench/.cypress/integration/ui.spec.js
  sql-workbench/.cypress/plugins/index.js
  sql-workbench/.cypress/support/commands.js
  sql-workbench/.cypress/support/index.js
  sql-workbench/.cypress/utils/constants.js
  sql-workbench/.gitignore
  sql-workbench/cypress.json
  sql-workbench/package.json
  sql-workbench/yarn.lock
Labels: Workbench

#682 Support WHERE clause in new SQL parser
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/script/filter/lucene/LuceneQuery.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/script/filter/lucene/TermQuery.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/script/filter/lucene/WildcardQuery.java
  elasticsearch/src/test/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/script/filter/FilterQueryBuilderTest.java
  integ-test/build.gradle
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/sql/SQLCorrectnessIT.java
  integ-test/src/test/resources/correctness/bugfixes/234.txt
  integ-test/src/test/resources/correctness/bugfixes/237.txt
  integ-test/src/test/resources/correctness/bugfixes/368.txt
  integ-test/src/test/resources/correctness/bugfixes/521.txt
  integ-test/src/test/resources/correctness/bugfixes/690.txt
  integ-test/src/test/resources/correctness/expressions/predicates.txt
  integ-test/src/test/resources/correctness/kibana_sample_data_flights.json
  integ-test/src/test/resources/correctness/queries/select.txt
  legacy/src/test/java/com/amazon/opendistroforelasticsearch/sql/legacy/plugin/RestSQLQueryActionTest.java
  sql/src/main/antlr/OpenDistroSQLParser.g4
  sql/src/main/java/com/amazon/opendistroforelasticsearch/sql/sql/parser/AstBuilder.java
  sql/src/main/java/com/amazon/opendistroforelasticsearch/sql/sql/parser/AstExpressionBuilder.java
  sql/src/test/java/com/amazon/opendistroforelasticsearch/sql/sql/antlr/SQLSyntaxParserTest.java
  sql/src/test/java/com/amazon/opendistroforelasticsearch/sql/sql/parser/AstBuilderTest.java
  sql/src/test/java/com/amazon/opendistroforelasticsearch/sql/sql/parser/AstExpressionBuilderTest.java
Labels: SQL

#697 Bumped ES and Kibana versions to v7.9.0
  build.gradle
  gradle.properties
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/legacy/RestIntegTestCase.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/legacy/SQLIntegTestCase.java
  legacy/src/main/java/com/amazon/opendistroforelasticsearch/sql/legacy/executor/join/ElasticJoinExecutor.java
  legacy/src/main/java/com/amazon/opendistroforelasticsearch/sql/legacy/executor/join/HashJoinElasticExecutor.java
  legacy/src/main/java/com/amazon/opendistroforelasticsearch/sql/legacy/executor/join/NestedLoopsElasticExecutor.java
  legacy/src/main/java/com/amazon/opendistroforelasticsearch/sql/legacy/executor/multi/MinusExecutor.java
  legacy/src/main/java/com/amazon/opendistroforelasticsearch/sql/legacy/executor/multi/UnionExecutor.java
  legacy/src/main/java/com/amazon/opendistroforelasticsearch/sql/legacy/query/planner/physical/node/scroll/SearchHitRow.java
  legacy/src/test/java/com/amazon/opendistroforelasticsearch/sql/legacy/util/CheckScriptContents.java
  sql-cli/src/odfe_sql_cli/__init__.py
  sql-jdbc/build.gradle
  sql-jdbc/src/main/java/com/amazon/opendistroforelasticsearch/jdbc/internal/Version.java
  sql-odbc/docs/test/img/microsoft_query_add_tables.png
  sql-odbc/docs/test/img/microsoft_query_table_options.png
  sql-odbc/docs/test/img/query_wizard_choose_coulms.png
  sql-odbc/docs/test/img/query_wizard_error_popup.png
  sql-odbc/docs/test/img/query_wizard_table_options.png
  sql-workbench/package.json
  sql-workbench/yarn.lock
Labels: version compatibility

#700 Adjust release drafter to follow ODFE standards
  .github/draft-release-notes-config.yml
  .github/workflows/draft-release-notes-workflow.yml
Labels: infra

#687 Add temporal interval data type and support interval clause as function
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/analysis/ExpressionAnalyzer.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/ast/AbstractNodeVisitor.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/ast/dsl/AstDSL.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/ast/expression/DataType.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/ast/expression/Interval.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/ast/expression/IntervalUnit.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/data/model/ExprIntervalValue.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/data/model/ExprValue.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/data/model/ExprValueUtils.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/data/type/ExprCoreType.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/expression/DSL.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/expression/config/ExpressionConfig.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/expression/datetime/IntervalClause.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/expression/function/BuiltinFunctionName.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/expression/function/FunctionDSL.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/analysis/ExpressionAnalyzerTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/data/model/ExprIntervalValueTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/data/model/ExprValueUtilsTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/expression/datetime/IntervalClauseTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/expression/operator/predicate/BinaryPredicateOperatorTest.java
  docs/user/general/datatype.rst
  docs/user/general/datatypes.rst
  docs/user/index.rst
  elasticsearch/src/test/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/script/filter/FilterQueryBuilderTest.java
  ppl/src/main/antlr/OpenDistroPPLLexer.g4
  ppl/src/main/antlr/OpenDistroPPLParser.g4
  ppl/src/main/java/com/amazon/opendistroforelasticsearch/sql/ppl/parser/AstExpressionBuilder.java
  ppl/src/test/java/com/amazon/opendistroforelasticsearch/sql/ppl/parser/AstExpressionBuilderTest.java
  sql/src/main/antlr/OpenDistroSQLLexer.g4
  sql/src/main/antlr/OpenDistroSQLParser.g4
  sql/src/main/java/com/amazon/opendistroforelasticsearch/sql/sql/parser/AstExpressionBuilder.java
  sql/src/test/java/com/amazon/opendistroforelasticsearch/sql/sql/parser/AstExpressionBuilderTest.java
Labels: PPL, SQL

#695 Support table alias in new engine
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/analysis/Analyzer.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/analysis/ExpressionAnalyzer.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/analysis/QualifierAnalyzer.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/analysis/SelectExpressionAnalyzer.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/analysis/symbol/Namespace.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/ast/dsl/AstDSL.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/ast/expression/QualifiedName.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/ast/tree/Relation.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/analysis/ExpressionAnalyzerTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/analysis/QualifierAnalyzerTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/analysis/SelectExpressionAnalyzerTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/ast/expression/QualifiedNameTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/ast/tree/RelationTest.java
  docs/user/general/identifiers.rst
  docs/user/limitations/limitations.rst
  integ-test/src/test/resources/correctness/bugfixes/242.txt
  integ-test/src/test/resources/correctness/queries/select.txt
  sql/src/main/antlr/OpenDistroSQLParser.g4
  sql/src/main/java/com/amazon/opendistroforelasticsearch/sql/sql/parser/AstBuilder.java
  sql/src/test/java/com/amazon/opendistroforelasticsearch/sql/sql/parser/AstBuilderTest.java
Labels: SQL

#694 Added datetime data type and basic functions for the conversion from string type to date and time types
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/data/model/ExprDateValue.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/data/model/ExprDatetimeValue.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/data/model/ExprTimeValue.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/data/model/ExprTimestampValue.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/data/model/ExprValue.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/data/model/ExprValueUtils.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/data/type/ExprCoreType.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/expression/DSL.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/expression/datetime/DateTimeFunction.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/expression/function/BuiltinFunctionName.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/data/model/DateTimeValueTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/data/model/ExprIntervalValueTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/data/model/ExprValueCompareTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/data/model/ExprValueUtilsTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/expression/datetime/DateTimeFunctionTest.java
  ppl/src/main/antlr/OpenDistroPPLLexer.g4
  ppl/src/main/antlr/OpenDistroPPLParser.g4
  sql/src/main/antlr/OpenDistroSQLParser.g4
Labels: PPL, SQL

#718 Added workaround for identifiers with special characters in troubleshooting page
  docs/user/dql/troubleshooting.rst
Labels: documentation

#723 Fixed sql workbench loading issue
  sql-workbench/public/app.js
Labels: Workbench
