Repository opendistro-for-elasticsearch/sql, pull requests merged in 2020-04, with the labels that each got.

#414 Invalidate HTTP GET method
  README.md
  docs/user/interfaces/endpoint.rst
  src/main/java/com/amazon/opendistroforelasticsearch/sql/plugin/RestSqlAction.java
  src/main/java/com/amazon/opendistroforelasticsearch/sql/request/SqlRequestFactory.java
  src/test/java/com/amazon/opendistroforelasticsearch/sql/doctest/interfaces/EndpointIT.java
  src/test/java/com/amazon/opendistroforelasticsearch/sql/esintgtest/GetEndpointQueryIT.java
Labels: breaking-interface

#417 More docs in reference manual and add architecture doc
  docs/dev/Architecture.md
  docs/dev/img/architecture-journey.png
  docs/dev/img/architecture-overview.png
  docs/developing.rst
  docs/user/admin/monitoring.rst
  docs/user/beyond/fulltext.rst
  docs/user/beyond/partiql.rst
  docs/user/dml/delete.rst
  docs/user/dql/basics.rst
  docs/user/dql/complex.rst
  docs/user/dql/functions.rst
  docs/user/dql/metadata.rst
  docs/user/img/rdd/joinPart.png
  docs/user/img/rdd/showFilter.png
  docs/user/img/rdd/showStatement.png
  docs/user/img/rdd/singleDeleteStatement.png
  docs/user/img/rdd/tableSource.png
  docs/user/index.rst
  src/test/java/com/amazon/opendistroforelasticsearch/sql/doctest/beyond/FullTextIT.java
  src/test/java/com/amazon/opendistroforelasticsearch/sql/doctest/beyond/PartiQLIT.java
  src/test/java/com/amazon/opendistroforelasticsearch/sql/doctest/core/TestData.java
  src/test/java/com/amazon/opendistroforelasticsearch/sql/doctest/core/builder/DocBuilder.java
  src/test/java/com/amazon/opendistroforelasticsearch/sql/doctest/core/request/SqlRequestFormat.java
  src/test/java/com/amazon/opendistroforelasticsearch/sql/doctest/core/response/SqlResponseFormat.java
  src/test/java/com/amazon/opendistroforelasticsearch/sql/doctest/core/test/DocBuilderTest.java
  src/test/java/com/amazon/opendistroforelasticsearch/sql/doctest/core/test/SqlRequestFormatTest.java
  src/test/java/com/amazon/opendistroforelasticsearch/sql/doctest/dml/DeleteIT.java
  src/test/java/com/amazon/opendistroforelasticsearch/sql/doctest/dql/BasicQueryIT.java
  src/test/java/com/amazon/opendistroforelasticsearch/sql/doctest/dql/ComplexQueryIT.java
  src/test/java/com/amazon/opendistroforelasticsearch/sql/doctest/dql/MetaDataQueryIT.java
  src/test/java/com/amazon/opendistroforelasticsearch/sql/doctest/dql/SQLFunctionsIT.java
  src/test/resources/doctest/mappings/accounts.json
  src/test/resources/doctest/mappings/employees_nested.json
  src/test/resources/doctest/templates/beyond/fulltext.rst
  src/test/resources/doctest/templates/beyond/partiql.rst
  src/test/resources/doctest/templates/dml/delete.rst
  src/test/resources/doctest/templates/dql/basics.rst
  src/test/resources/doctest/templates/dql/complex.rst
  src/test/resources/doctest/templates/dql/functions.rst
  src/test/resources/doctest/templates/dql/metadata.rst
  src/test/resources/doctest/testdata/employees_nested.json
Labels: maintenance

#418 Bug fix, support subquery in from doesn't have alias
  src/main/java/com/amazon/opendistroforelasticsearch/sql/parser/SubQueryParser.java
  src/test/java/com/amazon/opendistroforelasticsearch/sql/esintgtest/SubqueryIT.java
  src/test/java/com/amazon/opendistroforelasticsearch/sql/unittest/parser/SubQueryParserTest.java
Labels: bug

#390 Simple Query Cursor support
  docs/user/admin/monitoring.rst
  docs/user/admin/settings.rst
  docs/user/interfaces/endpoint.rst
  src/main/java/com/amazon/opendistroforelasticsearch/sql/cursor/Cursor.java
  src/main/java/com/amazon/opendistroforelasticsearch/sql/cursor/CursorType.java
  src/main/java/com/amazon/opendistroforelasticsearch/sql/cursor/DefaultCursor.java
  src/main/java/com/amazon/opendistroforelasticsearch/sql/cursor/NullCursor.java
  src/main/java/com/amazon/opendistroforelasticsearch/sql/domain/Select.java
  src/main/java/com/amazon/opendistroforelasticsearch/sql/executor/cursor/CursorActionRequestRestExecutorFactory.java
  src/main/java/com/amazon/opendistroforelasticsearch/sql/executor/cursor/CursorAsyncRestExecutor.java
  src/main/java/com/amazon/opendistroforelasticsearch/sql/executor/cursor/CursorCloseExecutor.java
  src/main/java/com/amazon/opendistroforelasticsearch/sql/executor/cursor/CursorRestExecutor.java
  src/main/java/com/amazon/opendistroforelasticsearch/sql/executor/cursor/CursorResultExecutor.java
  src/main/java/com/amazon/opendistroforelasticsearch/sql/executor/format/PrettyFormatRestExecutor.java
  src/main/java/com/amazon/opendistroforelasticsearch/sql/executor/format/Protocol.java
  src/main/java/com/amazon/opendistroforelasticsearch/sql/executor/format/Schema.java
  src/main/java/com/amazon/opendistroforelasticsearch/sql/executor/format/SelectResultSet.java
  src/main/java/com/amazon/opendistroforelasticsearch/sql/metrics/MetricFactory.java
  src/main/java/com/amazon/opendistroforelasticsearch/sql/metrics/MetricName.java
  src/main/java/com/amazon/opendistroforelasticsearch/sql/plugin/RestSqlAction.java
  src/main/java/com/amazon/opendistroforelasticsearch/sql/plugin/SqlSettings.java
  src/main/java/com/amazon/opendistroforelasticsearch/sql/query/AggregationQueryAction.java
  src/main/java/com/amazon/opendistroforelasticsearch/sql/query/DefaultQueryAction.java
  src/main/java/com/amazon/opendistroforelasticsearch/sql/query/QueryAction.java
  src/main/java/com/amazon/opendistroforelasticsearch/sql/request/PreparedStatementRequest.java
  src/main/java/com/amazon/opendistroforelasticsearch/sql/request/SqlRequest.java
  src/main/java/com/amazon/opendistroforelasticsearch/sql/request/SqlRequestFactory.java
  src/test/java/com/amazon/opendistroforelasticsearch/sql/doctest/admin/MonitoringIT.java
  src/test/java/com/amazon/opendistroforelasticsearch/sql/doctest/admin/PluginSettingIT.java
  src/test/java/com/amazon/opendistroforelasticsearch/sql/doctest/interfaces/EndpointIT.java
  src/test/java/com/amazon/opendistroforelasticsearch/sql/esintgtest/CursorIT.java
  src/test/java/com/amazon/opendistroforelasticsearch/sql/esintgtest/PluginIT.java
  src/test/java/com/amazon/opendistroforelasticsearch/sql/esintgtest/QueryIT.java
  src/test/java/com/amazon/opendistroforelasticsearch/sql/esintgtest/SQLIntegTestCase.java
  src/test/java/com/amazon/opendistroforelasticsearch/sql/esintgtest/TestUtils.java
  src/test/java/com/amazon/opendistroforelasticsearch/sql/esintgtest/TestsConstants.java
  src/test/java/com/amazon/opendistroforelasticsearch/sql/unittest/DateFormatTest.java
  src/test/java/com/amazon/opendistroforelasticsearch/sql/unittest/cursor/DefaultCursorTest.java
  src/test/java/com/amazon/opendistroforelasticsearch/sql/unittest/query/DefaultQueryActionTest.java
  src/test/resources/datetime.json
  src/test/resources/nested_simple.json
Labels: CURSOR-SUPPORT, enhancement
