Repository opendistro-for-elasticsearch/sql, pull requests merged in 2020-07, with the labels that each got.

#536 Enforce comparison test in new SQL module
  integ-test/build.gradle
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/correctness/report/FailedTestCase.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/correctness/runner/connection/ESConnection.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/correctness/runner/resultset/DBResult.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/correctness/runner/resultset/Row.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/correctness/tests/DBResultTest.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/correctness/tests/ESConnectionTest.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/correctness/tests/RowTest.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/correctness/tests/TestReportTest.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/sql/SQLCorrectnessIT.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/sql/SQLIntegTestCase.java
  integ-test/src/test/resources/correctness/bugfixes/521.txt
  integ-test/src/test/resources/correctness/expressions/arithmetics.txt
  integ-test/src/test/resources/correctness/expressions/functions.txt
  integ-test/src/test/resources/correctness/expressions/literals.txt
  integ-test/src/test/resources/correctness/expressions/predicates.txt
  integ-test/src/test/resources/correctness/queries/groupby.txt
  integ-test/src/test/resources/correctness/queries/joins.txt
  integ-test/src/test/resources/correctness/queries/select.txt
  integ-test/src/test/resources/correctness/queries/subquries.txt
Labels: SQL, maintenance

#534 Support LIKE operator
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/expression/DSL.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/expression/operator/OperatorUtils.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/expression/operator/predicate/BinaryPredicateOperator.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/utils/OperatorUtils.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/config/TestConfig.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/expression/ExpressionTestBase.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/expression/operator/predicate/BinaryPredicateOperatorTest.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/ppl/OperatorIT.java
  ppl/src/main/antlr/OpenDistroPPLLexer.g4
  ppl/src/main/antlr/OpenDistroPPLParser.g4
  ppl/src/test/java/com/amazon/opendistroforelasticsearch/sql/ppl/parser/AstExpressionBuilderTest.java
Labels: PPL, SQL

#542 Add select expression without query support
  docs/user/dql/expressions.rst
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/sql/ExpressionIT.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/sql/LiteralValueIT.java
  integ-test/src/test/resources/correctness/expressions/arithmetics.txt
  integ-test/src/test/resources/correctness/expressions/functions.txt
  sql/src/main/antlr/OpenDistroSQLParser.g4
  sql/src/main/java/com/amazon/opendistroforelasticsearch/sql/sql/parser/AstExpressionBuilder.java
  sql/src/test/java/com/amazon/opendistroforelasticsearch/sql/sql/parser/AstExpressionBuilderTest.java
Labels: SQL, enhancement

#544 Add plugin setting for new SQL module
  docs/user/admin/settings.rst
  docs/user/dql/expressions.rst
  docs/user/dql/newsql.rst
  doctest/test_docs.py
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/doctest/admin/PluginSettingIT.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/sql/ExpressionIT.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/sql/SQLCorrectnessIT.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/util/TestUtils.java
  legacy/src/main/java/com/amazon/opendistroforelasticsearch/sql/legacy/plugin/RestSqlAction.java
  legacy/src/main/java/com/amazon/opendistroforelasticsearch/sql/legacy/plugin/SqlSettings.java
Labels: SQL, enhancement

#557 Keep mismatch results when error occurs in comparison test
  docs/dev/Testing.md
  docs/dev/img/the-workflow-of-comparison-test.png
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/correctness/report/FailedTestCase.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/correctness/runner/ComparisonTest.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/correctness/tests/ComparisonTestTest.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/correctness/tests/TestReportTest.java
Labels: SQL, bug, maintenance

#540 Support mathematical functions ceil/ceiling, exp, floor, ln, log
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/expression/DSL.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/expression/config/ExpressionConfig.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/expression/function/BuiltinFunctionName.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/expression/function/FunctionName.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/expression/operator/OperatorUtils.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/expression/operator/arthmetic/MathematicalFunction.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/expression/operator/arthmetic/UnaryFunction.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/config/TestConfig.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/expression/ExpressionTestBase.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/expression/function/BuiltinFunctionNameTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/expression/operator/arthmetic/MathematicalFunctionTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/expression/operator/arthmetic/UnaryFunctionTest.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/ppl/MathematicalFunctionIT.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/util/MatcherUtils.java
  integ-test/src/test/resources/correctness/expressions/functions.txt
  ppl/src/main/antlr/OpenDistroPPLLexer.g4
  ppl/src/main/antlr/OpenDistroPPLParser.g4
  sql/src/main/antlr/OpenDistroSQLLexer.g4
  sql/src/main/antlr/OpenDistroSQLParser.g4
Labels: PPL, SQL

#560 add date and time support
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/analysis/ExpressionAnalyzer.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/ast/dsl/AstDSL.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/ast/expression/DataType.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/data/model/ExprDateValue.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/data/model/ExprTimeValue.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/data/model/ExprTimestampValue.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/data/model/ExprValueUtils.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/expression/DSL.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/expression/config/ExpressionConfig.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/expression/datetime/DateTimeFunction.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/expression/function/BuiltinFunctionName.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/data/model/DateTimeValueTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/data/model/ExprValueUtilsTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/expression/datetime/DateTimeFunctionTest.java
  docs/user/dql/expressions.rst
  sql/src/main/antlr/OpenDistroSQLLexer.g4
  sql/src/main/antlr/OpenDistroSQLParser.g4
  sql/src/main/java/com/amazon/opendistroforelasticsearch/sql/sql/parser/AstExpressionBuilder.java
  sql/src/test/java/com/amazon/opendistroforelasticsearch/sql/sql/parser/AstExpressionBuilderTest.java
Labels: SQL

#570 ODBC: Build driver files in parallel
  .github/workflows/sql-odbc-main.yml
  sql-odbc/build_mac_debug64.sh
  sql-odbc/build_mac_release64.sh
  sql-odbc/build_win_debug32.ps1
  sql-odbc/build_win_debug64.ps1
  sql-odbc/build_win_release32.ps1
  sql-odbc/build_win_release64.ps1
Labels: ODBC

#566 ODBC: Remove catalog support from driver
  sql-odbc/src/IntegrationTests/ITODBCCatalog/test_odbc_catalog.cpp
  sql-odbc/src/IntegrationTests/ITODBCInfo/test_odbc_info.cpp
  sql-odbc/src/IntegrationTests/ITODBCResults/test_odbc_results.cpp
  sql-odbc/src/TableauConnector/odfe_sql_odbc/connection-dialog.tcd
  sql-odbc/src/TableauConnector/odfe_sql_odbc/odfe_sql_odbc.taco
  sql-odbc/src/TableauConnector/odfe_sql_odbc_dev/connection-dialog.tcd
  sql-odbc/src/TableauConnector/odfe_sql_odbc_dev/odfe_sql_odbc_dev.taco
  sql-odbc/src/odfesqlodbc/connection.c
  sql-odbc/src/odfesqlodbc/es_communication.cpp
  sql-odbc/src/odfesqlodbc/es_communication.h
  sql-odbc/src/odfesqlodbc/es_helper.cpp
  sql-odbc/src/odfesqlodbc/es_info.cpp
  sql-odbc/src/odfesqlodbc/info.c
Labels: ODBC

#571 ODBC: Add documents for `Refresh` & `Export as CSV files` options in Microsoft Excel
  sql-odbc/docs/test/excel_connection.md
  sql-odbc/docs/test/exporting_csv_files.md
  sql-odbc/docs/test/img/export_loaded_data.png
  sql-odbc/docs/test/img/export_multiple_sheets.png
  sql-odbc/docs/test/img/export_save_as_csv.png
  sql-odbc/docs/test/img/refresh_add_datarow.png
  sql-odbc/docs/test/img/refresh_data_preview.png
  sql-odbc/docs/test/img/refresh_load_data.png
  sql-odbc/docs/test/img/refresh_updated_data.png
  sql-odbc/docs/test/refresh_data.md
Labels: ODBC

#577 Support mathematical functions: conv, crc32, mod, pow/power, round, sign, sqrt, truncate
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/expression/DSL.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/expression/function/BuiltinFunctionName.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/expression/operator/OperatorUtils.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/expression/operator/arthmetic/ArithmeticFunction.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/expression/operator/arthmetic/MathematicalFunction.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/expression/operator/arthmetic/ArithmeticFunctionTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/expression/operator/arthmetic/MathematicalFunctionTest.java
  docs/category.json
  docs/user/dql/functions.rst
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/ppl/MathematicalFunctionIT.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/sql/ExpressionIT.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/sql/MathematicalFunctionIT.java
  integ-test/src/test/resources/correctness/expressions/functions.txt
  ppl/src/main/antlr/OpenDistroPPLLexer.g4
  ppl/src/main/antlr/OpenDistroPPLParser.g4
  sql/src/main/antlr/OpenDistroSQLLexer.g4
  sql/src/main/antlr/OpenDistroSQLParser.g4
Labels: PPL, SQL

#584 Fix object/nested field select issue
  docs/category.json
  docs/user/beyond/partiql.rst
  doctest/test_data/people.json
  doctest/test_docs.py
  doctest/test_mapping/people.json
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/legacy/ObjectFieldSelectIT.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/legacy/SQLIntegTestCase.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/legacy/TestUtils.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/legacy/TestsConstants.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/util/MatcherUtils.java
  integ-test/src/test/resources/deep_nested_index_data.json
  integ-test/src/test/resources/indexDefinitions/deep_nested_index_mapping.json
  legacy/src/main/java/com/amazon/opendistroforelasticsearch/sql/legacy/esdomain/mapping/FieldMapping.java
  legacy/src/main/java/com/amazon/opendistroforelasticsearch/sql/legacy/executor/format/DescribeResultSet.java
  legacy/src/main/java/com/amazon/opendistroforelasticsearch/sql/legacy/executor/format/Schema.java
  legacy/src/main/java/com/amazon/opendistroforelasticsearch/sql/legacy/executor/format/SelectResultSet.java
  legacy/src/test/java/com/amazon/opendistroforelasticsearch/sql/legacy/esdomain/mapping/FieldMappingTest.java
Labels: SQL, bug

#581 ODBC: Updating Microsoft Excel connection documents
  sql-odbc/docs/test/data_connection_wizard.md
  sql-odbc/docs/test/img/data_connection_wizard_enable.png
  sql-odbc/docs/test/microsoft_query_connection.md
  sql-odbc/docs/user/img/test_dsn_configure.png
  sql-odbc/docs/user/img/test_dsn_success.png
  sql-odbc/docs/user/microsoft_excel_support.md
Labels: ODBC

#598 Bumped lodash version to fix dependency security vulnerability
  sql-workbench/package.json
  sql-workbench/yarn.lock
Labels: Workbench

#573 Support SELECT * and FROM clause in new SQL parser
  docs/category.json
  docs/user/dql/expressions.rst
  docs/user/general/identifiers.rst
  docs/user/index.rst
  integ-test/build.gradle
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/legacy/SQLIntegTestCase.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/sql/CorrectnessTestBase.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/sql/IdentifierIT.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/sql/SQLCorrectnessIT.java
  integ-test/src/test/resources/correctness/queries/select.txt
  legacy/src/test/java/com/amazon/opendistroforelasticsearch/sql/legacy/plugin/RestSQLQueryActionTest.java
  sql/src/main/antlr/OpenDistroSQLIdentifierParser.g4
  sql/src/main/antlr/OpenDistroSQLLexer.g4
  sql/src/main/antlr/OpenDistroSQLParser.g4
  sql/src/main/java/com/amazon/opendistroforelasticsearch/sql/sql/parser/AstBuilder.java
  sql/src/main/java/com/amazon/opendistroforelasticsearch/sql/sql/parser/AstExpressionBuilder.java
  sql/src/test/java/com/amazon/opendistroforelasticsearch/sql/sql/antlr/SQLSyntaxParserTest.java
  sql/src/test/java/com/amazon/opendistroforelasticsearch/sql/sql/parser/AstBuilderTest.java
  sql/src/test/java/com/amazon/opendistroforelasticsearch/sql/sql/parser/AstQualifiedNameBuilderTest.java
Labels: SQL

#600 Fix CAST bool field to integer issue
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/legacy/SQLFunctionsIT.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/util/MatcherUtils.java
  legacy/src/main/java/com/amazon/opendistroforelasticsearch/sql/legacy/utils/SQLFunctions.java
  legacy/src/test/java/com/amazon/opendistroforelasticsearch/sql/legacy/unittest/utils/SQLFunctionsTest.java
Labels: SQL, bug

#591 Support mathematical functions rand and constants e, pi
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/expression/DSL.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/expression/function/BuiltinFunctionName.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/expression/operator/OperatorUtils.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/expression/operator/arthmetic/MathematicalFunction.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/expression/operator/arthmetic/MathematicalFunctionTest.java
  docs/user/dql/functions.rst
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/ppl/MathematicalFunctionIT.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/sql/MathematicalFunctionIT.java
  integ-test/src/test/resources/correctness/expressions/functions.txt
  ppl/src/main/antlr/OpenDistroPPLLexer.g4
  ppl/src/main/antlr/OpenDistroPPLParser.g4
  sql/src/main/antlr/OpenDistroSQLParser.g4
Labels: PPL, SQL

#599 Support trigonometric functions acos, asin, atan, atan2, cos, cot, degrees, radians, sin, tan
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/expression/DSL.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/expression/function/BuiltinFunctionName.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/expression/operator/arthmetic/MathematicalFunction.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/expression/operator/arthmetic/MathematicalFunctionTest.java
  docs/user/dql/functions.rst
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/ppl/MathematicalFunctionIT.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/sql/MathematicalFunctionIT.java
  integ-test/src/test/resources/correctness/expressions/functions.txt
  ppl/src/main/antlr/OpenDistroPPLLexer.g4
  ppl/src/main/antlr/OpenDistroPPLParser.g4
  sql/src/main/antlr/OpenDistroSQLParser.g4
Labels: PPL, SQL

#608 Add ElasticsearchExprValueFactory in StorageEngine
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/data/model/ExprBooleanValue.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/data/model/ExprValueUtils.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/planner/DefaultImplementorTest.java
  docs/experiment/ppl/cmd/search.rst
  docs/experiment/ppl/cmd/where.rst
  docs/user/general/identifiers.rst
  elasticsearch/build.gradle
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/data/value/ElasticsearchDateFormatters.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/data/value/ElasticsearchExprValueFactory.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/ElasticsearchIndex.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/ElasticsearchIndexScan.java
  elasticsearch/src/test/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/data/value/ElasticsearchExprValueFactoryTest.java
  elasticsearch/src/test/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/executor/ElasticsearchExecutionProtectorTest.java
  elasticsearch/src/test/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/ElasticsearchIndexScanTest.java
  elasticsearch/src/test/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/ElasticsearchIndexTest.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/ppl/FieldsCommandIT.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/sql/IdentifierIT.java
  integ-test/src/test/resources/bank.json
Labels: SQL

#604 ODBC: adding manual test plan for Microsoft Excel testing
  sql-odbc/docs/test/microsoft_excel_manual_test_plan.xlsx
Labels: ODBC

#624 Issue 623, fix security vulnerability regarding to depedencies common…
  common/build.gradle
  core/build.gradle
  elasticsearch/build.gradle
  integ-test/build.gradle
  legacy/build.gradle
  plugin/build.gradle
  ppl/build.gradle
  protocol/build.gradle
  sql/build.gradle
Labels: SQL, security

#609 Support queries end with semi colon
  docs/user/dql/basics.rst
  integ-test/build.gradle
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/legacy/QueryIT.java
  integ-test/src/test/resources/doctest/templates/dql/basics.rst
  legacy/src/main/antlr/OpenDistroSqlParser.g4
  legacy/src/main/java/com/amazon/opendistroforelasticsearch/sql/legacy/query/ESActionFactory.java
  legacy/src/test/java/com/amazon/opendistroforelasticsearch/sql/legacy/antlr/SyntaxAnalysisTest.java
  sql/src/main/antlr/OpenDistroSQLParser.g4
  sql/src/test/java/com/amazon/opendistroforelasticsearch/sql/sql/antlr/SQLSyntaxParserTest.java
Labels: SQL, enhancement

#620 Add Text and Keyword Data Type
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/data/model/AbstractExprNumberValue.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/data/model/AbstractExprValue.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/data/model/ExprBooleanValue.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/data/model/ExprCollectionValue.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/data/model/ExprDateValue.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/data/model/ExprDoubleValue.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/data/model/ExprFloatValue.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/data/model/ExprIntegerValue.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/data/model/ExprLongValue.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/data/model/ExprMissingValue.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/data/model/ExprNullValue.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/data/model/ExprStringValue.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/data/model/ExprTimeValue.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/data/model/ExprTimestampValue.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/data/model/ExprTupleValue.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/data/model/ExprValue.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/data/model/ExprValueUtils.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/data/type/ExprCoreType.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/data/utils/NaturalExprValueOrdering.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/expression/Expression.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/expression/datetime/DateTimeFunction.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/expression/function/FunctionDSL.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/expression/function/FunctionName.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/expression/function/SerializableBiFunction.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/expression/function/SerializableFunction.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/expression/operator/OperatorUtils.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/expression/operator/predicate/BinaryPredicateOperator.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/data/model/DateTimeValueTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/data/model/ExprCollectionValueTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/data/model/ExprTupleValueTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/data/model/ExprValueCompareTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/data/model/ExprValueUtilsTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/data/utils/ExprValueOrderingTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/expression/operator/predicate/BinaryPredicateOperatorTest.java
  docs/experiment/ppl/cmd/stats.rst
  docs/user/general/datatype.rst
  docs/user/index.rst
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/data/type/ElasticsearchDataType.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/data/value/ElasticsearchExprTextValue.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/data/value/ElasticsearchExprValueFactory.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/ElasticsearchIndex.java
  elasticsearch/src/test/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/data/type/ElasticsearchDataTypeTest.java
  elasticsearch/src/test/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/data/value/ElasticsearchExprTextValueTest.java
  elasticsearch/src/test/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/data/value/ElasticsearchExprValueFactoryTest.java
  elasticsearch/src/test/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/ElasticsearchIndexTest.java
  protocol/src/main/java/com/amazon/opendistroforelasticsearch/sql/protocol/response/QueryResult.java
Labels: PPL, SQL

#578 Move workbench down in kibana nav
  sql-workbench/index.js
Labels: Workbench

#640 Fix for query folding issue with direct query mode in Power BI data connector
  sql-odbc/src/IntegrationTests/ITODBCInfo/test_odbc_info.cpp
  sql-odbc/src/PowerBIConnector/OdfeSqlOdbcPBIConnector.pq
  sql-odbc/src/PowerBIConnector/bin/Release/OdfeSqlOdbcPBIConnector.mez
  sql-odbc/src/odfesqlodbc/info.c
Labels: ODBC

#635 Add comparsion operator for SQL
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/data/model/AbstractExprNumberValue.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/data/model/AbstractExprValue.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/data/model/ExprMissingValue.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/data/model/ExprNullValue.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/data/model/ExprValue.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/data/type/WideningTypeRule.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/expression/DSL.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/expression/function/BuiltinFunctionName.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/expression/function/FunctionDSL.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/expression/operator/predicate/BinaryPredicateOperator.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/expression/operator/predicate/UnaryPredicateOperator.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/planner/physical/FilterOperator.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/utils/OperatorUtils.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/analysis/ExpressionAnalyzerTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/data/model/ExprMissingValueTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/data/model/ExprNullValueTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/data/model/ExprValueCompareTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/data/utils/ExprValueOrderingTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/expression/operator/predicate/BinaryPredicateOperatorTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/expression/operator/predicate/UnaryPredicateOperatorTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/planner/physical/FilterOperatorTest.java
  docs/user/dql/expressions.rst
  docs/user/index.rst
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/ppl/OperatorIT.java
  sql/src/main/antlr/OpenDistroSQLLexer.g4
  sql/src/main/antlr/OpenDistroSQLParser.g4
  sql/src/main/java/com/amazon/opendistroforelasticsearch/sql/sql/parser/AstExpressionBuilder.java
  sql/src/test/java/com/amazon/opendistroforelasticsearch/sql/sql/parser/AstExpressionBuilderTest.java
Labels: SQL

#648 Skip doctest in github release actions
  .github/workflows/sql-release-workflow.yml
Labels: SQL

#636 Support select fields and alias in new query engine
  common/src/main/java/com/amazon/opendistroforelasticsearch/sql/common/utils/StringUtils.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/analysis/Analyzer.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/analysis/ExpressionAnalyzer.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/ast/AbstractNodeVisitor.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/ast/dsl/AstDSL.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/ast/expression/Alias.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/expression/DSL.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/expression/NamedExpression.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/planner/logical/LogicalPlanDSL.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/planner/logical/LogicalProject.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/planner/physical/PhysicalPlanDSL.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/planner/physical/ProjectOperator.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/analysis/AnalyzerTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/analysis/ExpressionAnalyzerTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/expression/NamedExpressionTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/planner/DefaultImplementorTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/planner/PlannerTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/planner/logical/LogicalPlanNodeVisitorTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/planner/physical/PhysicalPlanNodeVisitorTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/planner/physical/ProjectOperatorTest.java
  docs/user/dql/expressions.rst
  docs/user/dql/functions.rst
  elasticsearch/src/test/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/executor/ElasticsearchExecutionProtectorTest.java
  elasticsearch/src/test/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/ElasticsearchIndexTest.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/correctness/runner/ComparisonTest.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/correctness/runner/connection/DBConnection.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/correctness/runner/connection/ESConnection.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/correctness/runner/connection/JDBCConnection.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/correctness/tests/TestDataSetTest.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/correctness/testset/TestDataSet.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/legacy/PrettyFormatResponseIT.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/legacy/QueryIT.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/sql/IdentifierIT.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/sql/MathematicalFunctionIT.java
  integ-test/src/test/resources/correctness/queries/select.txt
  legacy/src/main/java/com/amazon/opendistroforelasticsearch/sql/legacy/plugin/RestSQLQueryAction.java
  legacy/src/main/java/com/amazon/opendistroforelasticsearch/sql/legacy/plugin/RestSqlAction.java
  ppl/src/main/java/com/amazon/opendistroforelasticsearch/sql/ppl/parser/AstExpressionBuilder.java
  ppl/src/main/java/com/amazon/opendistroforelasticsearch/sql/ppl/utils/ArgumentFactory.java
  sql/src/main/antlr/OpenDistroSQLIdentifierParser.g4
  sql/src/main/antlr/OpenDistroSQLLexer.g4
  sql/src/main/antlr/OpenDistroSQLParser.g4
  sql/src/main/java/com/amazon/opendistroforelasticsearch/sql/sql/SQLService.java
  sql/src/main/java/com/amazon/opendistroforelasticsearch/sql/sql/parser/AstBuilder.java
  sql/src/main/java/com/amazon/opendistroforelasticsearch/sql/sql/parser/AstExpressionBuilder.java
  sql/src/test/java/com/amazon/opendistroforelasticsearch/sql/sql/SQLServiceTest.java
  sql/src/test/java/com/amazon/opendistroforelasticsearch/sql/sql/antlr/SQLSyntaxParserTest.java
  sql/src/test/java/com/amazon/opendistroforelasticsearch/sql/sql/parser/AstBuilderTest.java
  sql/src/test/java/com/amazon/opendistroforelasticsearch/sql/sql/parser/AstQualifiedNameBuilderTest.java
Labels: SQL, enhancement

#645 ODBC: Address negative connection test failures
  sql-odbc/src/odfesqlodbc/es_communication.cpp
  sql-odbc/src/odfesqlodbc/es_communication.h
  sql-odbc/src/odfesqlodbc/es_connection.cpp
  sql-odbc/src/odfesqlodbc/es_types.h
Labels: ODBC
