Repository opendistro-for-elasticsearch/sql, pull requests merged in 2020-09, with the labels that each got.

#719 support Elasticsearch geo_point and ip data type
  docs/experiment/ppl/cmd/stats.rst
  docs/experiment/ppl/interfaces/endpoint.rst
  docs/experiment/ppl/interfaces/protocol.rst
  docs/user/dql/functions.rst
  docs/user/general/datatypes.rst
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/data/type/ElasticsearchDataType.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/data/value/ElasticsearchExprGeoPointValue.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/data/value/ElasticsearchExprIpValue.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/data/value/ElasticsearchExprValueFactory.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/ElasticsearchIndex.java
  elasticsearch/src/test/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/data/value/ElasticsearchExprGeoPointValueTest.java
  elasticsearch/src/test/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/data/value/ElasticsearchExprIpValueTest.java
  elasticsearch/src/test/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/data/value/ElasticsearchExprValueFactoryTest.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/ppl/FieldsCommandIT.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/ppl/MathematicalFunctionIT.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/ppl/OperatorIT.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/ppl/PPLPluginIT.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/ppl/StandaloneIT.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/ppl/StatsCommandIT.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/sql/IdentifierIT.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/sql/MathematicalFunctionIT.java
  protocol/build.gradle
  protocol/src/main/java/com/amazon/opendistroforelasticsearch/sql/protocol/response/format/JsonResponseFormatter.java
  protocol/src/test/java/com/amazon/opendistroforelasticsearch/sql/protocol/response/format/SimpleJsonResponseFormatterTest.java
Labels: PPL, SQL

#722 update user documentation for testing odbc driver connection on windows
  sql-odbc/README.md
  sql-odbc/docs/user/configuration_options.md
  sql-odbc/docs/user/img/win_configure_dsn.png
  sql-odbc/docs/user/img/win_configure_dsn_values.png
  sql-odbc/docs/user/img/win_odbc_data_sources.png
  sql-odbc/docs/user/img/win_system_dsn.png
  sql-odbc/docs/user/img/win_test_dsn.png
  sql-odbc/docs/user/img/win_user_dsn.png
  sql-odbc/docs/user/img/win_user_dsn_configure_options.png
  sql-odbc/docs/user/img/win_user_dsn_list.png
  sql-odbc/docs/user/img/win_user_dsn_select_driver.png
  sql-odbc/docs/user/windows_configure_dsn.md
Labels: ODBC, documentation

#720 Support Top/Rare Command In PPL
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/analysis/Analyzer.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/ast/AbstractNodeVisitor.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/ast/dsl/AstDSL.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/ast/tree/RareTopN.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/planner/DefaultImplementor.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/planner/logical/LogicalPlanDSL.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/planner/logical/LogicalPlanNodeVisitor.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/planner/logical/LogicalRareTopN.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/planner/physical/PhysicalPlanDSL.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/planner/physical/PhysicalPlanNodeVisitor.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/planner/physical/RareTopNOperator.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/analysis/AnalyzerTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/planner/DefaultImplementorTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/planner/logical/LogicalPlanNodeVisitorTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/planner/physical/PhysicalPlanNodeVisitorTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/planner/physical/RareTopNOperatorTest.java
  docs/experiment/ppl/cmd/rare.rst
  docs/experiment/ppl/cmd/top.rst
  docs/experiment/ppl/index.rst
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/executor/protector/ElasticsearchExecutionProtector.java
  elasticsearch/src/test/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/executor/ElasticsearchExecutionProtectorTest.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/ppl/RareCommandIT.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/ppl/TopCommandIT.java
  ppl/src/main/antlr/OpenDistroPPLLexer.g4
  ppl/src/main/antlr/OpenDistroPPLParser.g4
  ppl/src/main/java/com/amazon/opendistroforelasticsearch/sql/ppl/parser/AstBuilder.java
  ppl/src/main/java/com/amazon/opendistroforelasticsearch/sql/ppl/utils/ArgumentFactory.java
  ppl/src/test/java/com/amazon/opendistroforelasticsearch/sql/ppl/antlr/PPLSyntaxParserTest.java
  ppl/src/test/java/com/amazon/opendistroforelasticsearch/sql/ppl/parser/AstBuilderTest.java
Labels: PPL

#724 Support group by in new sql parser
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/analysis/SelectExpressionAnalyzer.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/ast/expression/Function.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/analysis/SelectExpressionAnalyzerTest.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/legacy/AggregationIT.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/legacy/PrettyFormatResponseIT.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/legacy/QueryIT.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/sql/QueryValidationIT.java
  integ-test/src/test/resources/correctness/bugfixes/280.txt
  integ-test/src/test/resources/correctness/bugfixes/288.txt
  integ-test/src/test/resources/correctness/bugfixes/373.txt
  integ-test/src/test/resources/correctness/bugfixes/430.txt
  integ-test/src/test/resources/correctness/bugfixes/717.txt
  integ-test/src/test/resources/correctness/queries/groupby.txt
  legacy/src/main/java/com/amazon/opendistroforelasticsearch/sql/legacy/plugin/RestSqlAction.java
  legacy/src/test/java/com/amazon/opendistroforelasticsearch/sql/legacy/plugin/RestSQLQueryActionTest.java
  sql/src/main/antlr/OpenDistroSQLParser.g4
  sql/src/main/java/com/amazon/opendistroforelasticsearch/sql/sql/parser/AstAggregationBuilder.java
  sql/src/main/java/com/amazon/opendistroforelasticsearch/sql/sql/parser/AstBuilder.java
  sql/src/main/java/com/amazon/opendistroforelasticsearch/sql/sql/parser/AstExpressionBuilder.java
  sql/src/main/java/com/amazon/opendistroforelasticsearch/sql/sql/parser/context/ParsingContext.java
  sql/src/main/java/com/amazon/opendistroforelasticsearch/sql/sql/parser/context/QuerySpecification.java
  sql/src/test/java/com/amazon/opendistroforelasticsearch/sql/sql/antlr/SQLSyntaxParserTest.java
  sql/src/test/java/com/amazon/opendistroforelasticsearch/sql/sql/parser/AstAggregationBuilderTest.java
  sql/src/test/java/com/amazon/opendistroforelasticsearch/sql/sql/parser/AstBuilderTest.java
  sql/src/test/java/com/amazon/opendistroforelasticsearch/sql/sql/parser/AstExpressionBuilderTest.java
  sql/src/test/java/com/amazon/opendistroforelasticsearch/sql/sql/parser/context/QuerySpecificationTest.java
Labels: SQL

#728 Add explain API for SQL and PPL
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/executor/ExecutionEngine.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/executor/Explain.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/expression/NamedExpression.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/expression/aggregation/NamedAggregator.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/planner/physical/ValuesOperator.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/executor/ExplainTest.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/executor/ElasticsearchExecutionEngine.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/request/ElasticsearchQueryRequest.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/request/ElasticsearchScrollRequest.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/ElasticsearchIndexScan.java
  elasticsearch/src/test/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/executor/ElasticsearchExecutionEngineTest.java
  elasticsearch/src/test/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/script/aggregation/dsl/MetricAggregationBuilderTest.java
  integ-test/build.gradle
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/ppl/ExplainIT.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/ppl/PPLIntegTestCase.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/ppl/StandaloneIT.java
  integ-test/src/test/resources/expectedOutput/ppl/explain_output.json
  legacy/src/main/java/com/amazon/opendistroforelasticsearch/sql/legacy/plugin/RestSQLQueryAction.java
  legacy/src/test/java/com/amazon/opendistroforelasticsearch/sql/legacy/plugin/RestSQLQueryActionTest.java
  plugin/src/main/java/com/amazon/opendistroforelasticsearch/sql/plugin/request/PPLQueryRequestFactory.java
  plugin/src/main/java/com/amazon/opendistroforelasticsearch/sql/plugin/rest/RestPPLQueryAction.java
  ppl/src/main/java/com/amazon/opendistroforelasticsearch/sql/ppl/PPLService.java
  ppl/src/main/java/com/amazon/opendistroforelasticsearch/sql/ppl/domain/PPLQueryRequest.java
  ppl/src/test/java/com/amazon/opendistroforelasticsearch/sql/ppl/PPLServiceTest.java
  ppl/src/test/java/com/amazon/opendistroforelasticsearch/sql/ppl/domain/PPLQueryRequestTest.java
  sql/src/main/java/com/amazon/opendistroforelasticsearch/sql/sql/SQLService.java
  sql/src/main/java/com/amazon/opendistroforelasticsearch/sql/sql/domain/SQLQueryRequest.java
  sql/src/test/java/com/amazon/opendistroforelasticsearch/sql/sql/SQLServiceTest.java
  sql/src/test/java/com/amazon/opendistroforelasticsearch/sql/sql/domain/SQLQueryRequestTest.java
Labels: PPL, SQL

#716 Support date, time, timestamp types in JDBC
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/expression/datetime/DateTimeFunction.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/expression/datetime/DateTimeFunctionTest.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/correctness/runner/connection/JDBCConnection.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/correctness/testset/TestDataSet.java
  integ-test/src/test/resources/correctness/expressions/functions.txt
  sql-jdbc/src/main/java/com/amazon/opendistroforelasticsearch/jdbc/types/BaseTypeConverter.java
  sql-jdbc/src/main/java/com/amazon/opendistroforelasticsearch/jdbc/types/ElasticsearchType.java
  sql-jdbc/src/main/java/com/amazon/opendistroforelasticsearch/jdbc/types/TimeType.java
  sql-jdbc/src/main/java/com/amazon/opendistroforelasticsearch/jdbc/types/TypeConverters.java
  sql-jdbc/src/test/java/com/amazon/opendistroforelasticsearch/jdbc/types/TimeTypeTest.java
Labels: JDBC

#738 disable PPL endpoint
  docs/category.json
  integ-test/build.gradle
  plugin/src/main/java/com/amazon/opendistroforelasticsearch/sql/plugin/SQLPlugin.java
Labels: PPL

#741 Fix 1.10.1 workbench scroll bar and cypress version
  workbench/.cypress/integration/ui.spec.js
  workbench/public/app.scss
Labels: bug

#737 [UI] Extracted translation results to a popup modal
  workbench/index.js
  workbench/public/components/Main/__snapshots__/main.test.tsx.snap
  workbench/public/components/Main/main.test.tsx
  workbench/public/components/Main/main.tsx
  workbench/public/components/QueryEditor/QueryEditor.test.tsx
  workbench/public/components/QueryEditor/QueryEditor.tsx
  workbench/public/components/QueryEditor/__snapshots__/QueryEditor.test.tsx.snap
  workbench/server/services/utils/constants.ts
Labels: Workbench

#743 Fix bug in SqlRequestFactoryTest
  legacy/src/test/java/com/amazon/opendistroforelasticsearch/sql/legacy/unittest/SqlRequestFactoryTest.java
Labels: SQL

#744 [UI] Added ppl explain endpoint
  workbench/public/app.scss
  workbench/public/components/Main/main.tsx
  workbench/server/clusters/sql/sqlPlugin.js
  workbench/server/routes/translate.ts
  workbench/server/services/TranslateService.ts
Labels: Workbench

#748 Support expression over aggregation
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/analysis/Analyzer.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/analysis/ExpressionAnalyzer.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/analysis/ExpressionReferenceOptimizer.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/analysis/SelectExpressionAnalyzer.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/expression/aggregation/NamedAggregator.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/analysis/AnalyzerTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/analysis/AnalyzerTestBase.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/analysis/ExpressionReferenceOptimizerTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/analysis/SelectExpressionAnalyzerTest.java
  docs/category.json
  docs/user/dql/aggregations.rst
  docs/user/index.rst
  integ-test/src/test/resources/correctness/queries/groupby.txt
Labels: SQL

#755 Bug fix, sort command should return all the result when count = 0
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/planner/physical/SortOperator.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/planner/physical/SortOperatorTest.java
  docs/experiment/ppl/cmd/sort.rst
Labels: PPL

#758 Bug Fix, Clean all the indices, included hidden indices
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/legacy/ODFERestTestCase.java
Labels: SQL, bug

#760 Support security plugin in comparison test
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/correctness/runner/connection/ESConnection.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/correctness/runner/connection/JDBCConnection.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/legacy/RestIntegTestCase.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/sql/CorrectnessTestBase.java
Labels: SQL, infra

#759 Bump to ODFE 1.10.1.1 for integration test fixes
  .github/workflows/draft-release-notes-workflow.yml
  build.gradle
  integ-test/build.gradle
  release-notes/opendistro-for-elasticsearch-sql.release-notes-1.10.1.1.md
  sql-cli/src/odfe_sql_cli/__init__.py
  sql-jdbc/build.gradle
  sql-jdbc/src/main/java/com/amazon/opendistroforelasticsearch/jdbc/internal/Version.java
  sql-odbc/src/CMakeLists.txt
  sql-odbc/src/TableauConnector/odfe_sql_odbc/manifest.xml
  sql-odbc/src/TableauConnector/odfe_sql_odbc_dev/manifest.xml
  workbench/package.json
Labels: bug, infra

#761 [UI] Separate SQL and PPL pages
  workbench/public/app.scss
  workbench/public/components/Main/__snapshots__/main.test.tsx.snap
  workbench/public/components/Main/main.test.tsx
  workbench/public/components/Main/main.tsx
  workbench/public/components/PPLPage/PPLPage.test.tsx
  workbench/public/components/PPLPage/PPLPage.tsx
  workbench/public/components/PPLPage/__snapshots__/PPLPage.test.tsx.snap
  workbench/public/components/QueryResults/QueryResults.test.tsx
  workbench/public/components/QueryResults/QueryResults.tsx
  workbench/public/components/QueryResults/QueryResultsBody.test.tsx
  workbench/public/components/QueryResults/QueryResultsBody.tsx
  workbench/public/components/QueryResults/__snapshots__/QueryResults.test.tsx.snap
  workbench/public/components/QueryResults/__snapshots__/QueryResultsBody.test.tsx.snap
  workbench/public/components/SQLPage/SQLPage.test.tsx
  workbench/public/components/SQLPage/SQLPage.tsx
  workbench/public/components/SQLPage/__snapshots__/SQLPage.test.tsx.snap
  workbench/server/clusters/sql/sqlPlugin.js
  workbench/server/routes/query.ts
  workbench/server/services/QueryService.ts
  workbench/server/utils/constants.ts
  workbench/yarn.lock
Labels: Workbench
