Repository opendistro-for-elasticsearch/sql, pull requests merged in 2020-05, with the labels that each got.

#456 Escape comma for CSV header and all queries
  src/main/java/com/amazon/opendistroforelasticsearch/sql/executor/csv/CSVResult.java
  src/main/java/com/amazon/opendistroforelasticsearch/sql/executor/csv/CSVResultsExtractor.java
  src/test/java/com/amazon/opendistroforelasticsearch/sql/esintgtest/CsvFormatResponseIT.java
  src/test/java/com/amazon/opendistroforelasticsearch/sql/executor/csv/CSVResultTest.java
Labels: bug

#468 Opendistro Releaes 1.8.0
  .github/workflows/release-workflow.yml
  .github/workflows/test-and-build-workflow.yml
  build.gradle
  gradle.properties
  gradle/wrapper/gradle-wrapper.properties
  opendistro-elasticsearch-sql.release-notes.md
  src/main/java/com/amazon/opendistroforelasticsearch/sql/plugin/RestSqlAction.java
  src/main/java/com/amazon/opendistroforelasticsearch/sql/plugin/RestSqlSettingsAction.java
  src/main/java/com/amazon/opendistroforelasticsearch/sql/plugin/RestSqlStatsAction.java
  src/main/java/com/amazon/opendistroforelasticsearch/sql/plugin/SqlPlug.java
  src/test/java/com/amazon/opendistroforelasticsearch/sql/esintgtest/QueryIT.java
  src/test/java/com/amazon/opendistroforelasticsearch/sql/esintgtest/TestUtils.java
Labels: version compatibility

#469 Implement get index mapping in ES storage engine
  elasticsearch/build.gradle
  elasticsearch/lombok.config
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/client/ElasticsearchClient.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/client/ElasticsearchNodeClient.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/mapping/IndexMapping.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/ElasticsearchIndex.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/ElasticsearchStorageEngine.java
  elasticsearch/src/test/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/client/ElasticsearchNodeClientTest.java
  elasticsearch/src/test/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/mapping/IndexMappingTest.java
  elasticsearch/src/test/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/ElasticsearchIndexTest.java
  elasticsearch/src/test/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/ElasticsearchStorageEngineTest.java
  elasticsearch/src/test/resources/mappings/accounts.json
Labels: ppl

#476 [PPL] Add simple json formatter
  plugin/src/main/java/com/amazon/opendistroforelasticsearch/sql/plugin/rest/RestPPLQueryAction.java
  ppl/build.gradle
  ppl/src/main/java/com/amazon/opendistroforelasticsearch/sql/ppl/PPLService.java
  ppl/src/main/java/com/amazon/opendistroforelasticsearch/sql/ppl/ResponseListener.java
  ppl/src/test/java/com/amazon/opendistroforelasticsearch/sql/ppl/PPLServiceTest.java
  protocol/build.gradle
  protocol/lombok.config
  protocol/src/main/java/com/amazon/opendistroforelasticsearch/sql/protocol/response/QueryResponse.java
  protocol/src/main/java/com/amazon/opendistroforelasticsearch/sql/protocol/response/ResponseListener.java
  protocol/src/main/java/com/amazon/opendistroforelasticsearch/sql/protocol/response/format/JsonResponseFormatter.java
  protocol/src/main/java/com/amazon/opendistroforelasticsearch/sql/protocol/response/format/ResponseFormatter.java
  protocol/src/main/java/com/amazon/opendistroforelasticsearch/sql/protocol/response/format/SimpleJsonResponseFormatter.java
  protocol/src/test/java/com/amazon/opendistroforelasticsearch/sql/protocol/response/QueryResponseTest.java
  protocol/src/test/java/com/amazon/opendistroforelasticsearch/sql/protocol/response/format/SimpleJsonResponseFormatterTest.java
  settings.gradle
Labels: ppl

#475 [PPL] Add Elasticsearch index scan operator
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/planner/Planner.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/planner/logical/LogicalRelation.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/planner/physical/PhysicalPlanNodeVisitor.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/storage/Table.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/storage/TableScanOperator.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/config/TestConfig.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/planner/PlannerTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/storage/TableScanOperatorTest.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/client/ElasticsearchClient.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/client/ElasticsearchNodeClient.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/request/ElasticsearchRequest.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/response/ElasticsearchResponse.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/ElasticsearchIndex.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/ElasticsearchIndexScan.java
  elasticsearch/src/test/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/client/ElasticsearchNodeClientTest.java
  elasticsearch/src/test/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/request/ElasticsearchRequestTest.java
  elasticsearch/src/test/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/response/ElasticsearchResponseTest.java
  elasticsearch/src/test/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/ElasticsearchIndexScanTest.java
  elasticsearch/src/test/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/ElasticsearchIndexTest.java
Labels: ppl

#479 [PPL] Added PPL integration test base
  build.gradle
  integ-test/build.gradle
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/ppl/PPLIntegTestCase.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/ppl/PPLPluginIT.java
  src/test/java/com/amazon/opendistroforelasticsearch/sql/esintgtest/RestIntegTestCase.java
  src/test/java/com/amazon/opendistroforelasticsearch/sql/esintgtest/SQLIntegTestCase.java
  src/test/java/com/amazon/opendistroforelasticsearch/sql/esintgtest/TestsConstants.java
Labels: ppl

#477 [PPL] Support eval command
  core/build.gradle
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/analysis/Analyzer.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/analysis/ExpressionAnalyzer.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/ast/AbstractNodeVisitor.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/ast/dsl/AstDSL.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/ast/expression/Let.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/ast/tree/Eval.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/expression/DSL.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/expression/config/ExpressionConfig.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/expression/env/Environment.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/expression/function/BuiltinFunctionName.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/expression/scalar/OperatorUtils.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/expression/scalar/arthmetic/UnaryFunction.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/planner/logical/LogicalEval.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/planner/logical/LogicalPlanDSL.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/planner/logical/LogicalPlanNodeVisitor.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/planner/physical/EvalOperator.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/planner/physical/PhysicalPlanDSL.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/planner/physical/PhysicalPlanNodeVisitor.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/analysis/AnalyzerTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/analysis/AnalyzerTestBase.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/expression/scalar/arthmetic/UnaryFunctionTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/planner/logical/LogicalEvalTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/planner/logical/LogicalPlanNodeVisitorTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/planner/physical/EvalOperatorTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/planner/physical/PhysicalPlanNodeVisitorTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/utils/MatcherUtils.java
  ppl/src/main/java/com/amazon/opendistroforelasticsearch/sql/ppl/parser/AstBuilder.java
  ppl/src/main/java/com/amazon/opendistroforelasticsearch/sql/ppl/parser/AstExpressionBuilder.java
  ppl/src/main/java/com/amazon/opendistroforelasticsearch/sql/ppl/utils/ArgumentFactory.java
  ppl/src/test/java/com/amazon/opendistroforelasticsearch/sql/ppl/parser/AstBuilderTest.java
  ppl/src/test/java/com/amazon/opendistroforelasticsearch/sql/ppl/parser/AstExpressionBuilderTest.java
Labels: ppl

#482 [PPL] Add Elasticsearch executor and integrate all components
  common/src/main/java/com/amazon/opendistroforelasticsearch/sql/common/response/ResponseListener.java
  core/build.gradle
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/executor/ExecutionEngine.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/client/ElasticsearchClient.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/client/ElasticsearchNodeClient.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/executor/ElasticsearchExecutionEngine.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/response/ElasticsearchResponse.java
  elasticsearch/src/test/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/client/ElasticsearchNodeClientTest.java
  elasticsearch/src/test/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/executor/ElasticsearchExecutionEngineTest.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/ppl/PPLIntegTestCase.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/ppl/PPLPluginIT.java
  plugin/src/main/java/com/amazon/opendistroforelasticsearch/sql/plugin/SQLPlugin.java
  plugin/src/main/java/com/amazon/opendistroforelasticsearch/sql/plugin/rest/ElasticsearchPluginConfig.java
  plugin/src/main/java/com/amazon/opendistroforelasticsearch/sql/plugin/rest/RestPPLQueryAction.java
  ppl/build.gradle
  ppl/src/main/java/com/amazon/opendistroforelasticsearch/sql/ppl/PPLService.java
  ppl/src/main/java/com/amazon/opendistroforelasticsearch/sql/ppl/config/PPLServiceConfig.java
  ppl/src/test/java/com/amazon/opendistroforelasticsearch/sql/ppl/PPLServiceTest.java
  protocol/src/main/java/com/amazon/opendistroforelasticsearch/sql/protocol/response/QueryResult.java
  protocol/src/main/java/com/amazon/opendistroforelasticsearch/sql/protocol/response/format/SimpleJsonResponseFormatter.java
  protocol/src/test/java/com/amazon/opendistroforelasticsearch/sql/protocol/response/QueryResultTest.java
  protocol/src/test/java/com/amazon/opendistroforelasticsearch/sql/protocol/response/format/SimpleJsonResponseFormatterTest.java
Labels: ppl

#485 [PPL] Support dedup command
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/analysis/Analyzer.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/ast/AbstractNodeVisitor.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/ast/dsl/AstDSL.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/ast/tree/Dedupe.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/planner/logical/LogicalDedupe.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/planner/logical/LogicalPlanDSL.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/planner/logical/LogicalPlanNodeVisitor.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/planner/physical/DedupeOperator.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/planner/physical/PhysicalPlanDSL.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/planner/physical/PhysicalPlanNodeVisitor.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/planner/logical/LogicalDedupeTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/planner/logical/LogicalPlanNodeVisitorTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/planner/physical/DedupeOperatorTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/planner/physical/PhysicalPlanNodeVisitorTest.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/ElasticsearchIndex.java
  elasticsearch/src/test/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/ElasticsearchIndexTest.java
  ppl/src/main/antlr/OpenDistroPPLLexer.g4
  ppl/src/main/antlr/OpenDistroPPLParser.g4
  ppl/src/main/java/com/amazon/opendistroforelasticsearch/sql/ppl/parser/AstBuilder.java
  ppl/src/main/java/com/amazon/opendistroforelasticsearch/sql/ppl/utils/ArgumentFactory.java
  ppl/src/test/java/com/amazon/opendistroforelasticsearch/sql/ppl/parser/AstBuilderTest.java
  ppl/src/test/java/com/amazon/opendistroforelasticsearch/sql/ppl/utils/ArgumentFactoryTest.java
Labels: ppl

#487 [PPL] Add the analyzer constructor
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/analysis/ExpressionAnalyzer.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/expression/function/BuiltinFunctionName.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/analysis/AnalyzerTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/analysis/AnalyzerTestBase.java
  ppl/src/main/java/com/amazon/opendistroforelasticsearch/sql/ppl/PPLService.java
  ppl/src/main/java/com/amazon/opendistroforelasticsearch/sql/ppl/config/PPLServiceConfig.java
Labels: ppl

#484 [PPL] Add ES rest client to support standalone mode
  elasticsearch/build.gradle
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/client/ElasticsearchClient.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/client/ElasticsearchNodeClient.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/client/ElasticsearchRestClient.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/request/ElasticsearchRequest.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/ElasticsearchIndexScan.java
  elasticsearch/src/test/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/client/ElasticsearchNodeClientTest.java
  elasticsearch/src/test/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/client/ElasticsearchRestClientTest.java
  elasticsearch/src/test/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/executor/ElasticsearchExecutionEngineTest.java
  elasticsearch/src/test/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/response/ElasticsearchResponseTest.java
  elasticsearch/src/test/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/ElasticsearchIndexScanTest.java
  elasticsearch/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/ppl/StandaloneIT.java
Labels: ppl

#492 Fix json formatter for consistency with SQL
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/ppl/PPLPluginIT.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/ppl/StandaloneIT.java
  protocol/src/main/java/com/amazon/opendistroforelasticsearch/sql/protocol/response/format/SimpleJsonResponseFormatter.java
  protocol/src/test/java/com/amazon/opendistroforelasticsearch/sql/protocol/response/format/SimpleJsonResponseFormatterTest.java
Labels: ppl

#489 Fix ANTLR grammar for negative integer and floating point number
  src/main/antlr/OpenDistroSqlLexer.g4
  src/test/java/com/amazon/opendistroforelasticsearch/sql/antlr/semantic/SemanticAnalyzerConstantTest.java
  src/test/java/com/amazon/opendistroforelasticsearch/sql/esintgtest/QueryAnalysisIT.java
Labels: bug

#493 [PPL] Support Count aggregator and OR operator
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/analysis/ExpressionAnalyzer.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/ast/dsl/AstDSL.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/ast/tree/Rename.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/expression/DSL.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/expression/aggregation/AggregatorFunction.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/expression/aggregation/CountAggregator.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/expression/function/BuiltinFunctionName.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/analysis/ExpressionAnalyzerTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/expression/aggregation/AggregationTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/expression/aggregation/CountAggregatorTest.java
  ppl/src/main/java/com/amazon/opendistroforelasticsearch/sql/ppl/parser/AstBuilder.java
  ppl/src/test/java/com/amazon/opendistroforelasticsearch/sql/ppl/parser/AstBuilderTest.java
Labels: ppl

#496 [PPL] Added integration tests for query analysis and search, where, fields commands
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/analysis/Analyzer.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/ast/expression/Field.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/ast/tree/Aggregation.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/ast/tree/Project.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/analysis/AnalyzerTest.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/ppl/FieldsCommandIT.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/ppl/PPLIntegTestCase.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/ppl/PPLPluginIT.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/ppl/QueryAnalysisIT.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/ppl/SearchCommandIT.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/ppl/WhereCommandIT.java
  ppl/src/main/java/com/amazon/opendistroforelasticsearch/sql/ppl/parser/AstBuilder.java
  ppl/src/test/java/com/amazon/opendistroforelasticsearch/sql/ppl/parser/AstBuilderTest.java
  ppl/src/test/java/com/amazon/opendistroforelasticsearch/sql/ppl/parser/AstExpressionBuilderTest.java
  ppl/src/test/java/com/amazon/opendistroforelasticsearch/sql/ppl/utils/ArgumentFactoryTest.java
  src/test/java/com/amazon/opendistroforelasticsearch/sql/util/MatcherUtils.java
Labels: ppl
