Repository opendistro-for-elasticsearch/sql, pull requests merged in 2021-02, with the labels that each got.

#1025 Disable access to the field keyword in the new SQL engine
  docs/dev/NewSQLEngine.md
  docs/experiment/ppl/cmd/search.rst
  docs/user/general/identifiers.rst
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/mapping/IndexMapping.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/storage/ElasticsearchIndex.java
  elasticsearch/src/test/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/client/ElasticsearchNodeClientTest.java
  elasticsearch/src/test/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/client/ElasticsearchRestClientTest.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/legacy/PrettyFormatResponseIT.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/sql/QueryValidationIT.java
Labels: Breaking Changes

#1026 Only keep the first element of multivalue field response.
  docs/experiment/ppl/general/datatypes.rst
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/data/utils/Content.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/data/utils/ElasticsearchJsonContent.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/data/utils/ObjectContent.java
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/data/value/ElasticsearchExprValueFactory.java
  elasticsearch/src/test/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/data/value/ElasticsearchExprValueFactoryTest.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/legacy/ObjectFieldSelectIT.java
Labels: enhancement

#1022 Refine PPL head command syntax
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/analysis/Analyzer.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/ast/dsl/AstDSL.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/ast/tree/Head.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/executor/Explain.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/planner/DefaultImplementor.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/planner/logical/LogicalHead.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/planner/logical/LogicalPlanDSL.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/planner/logical/LogicalPlanNodeVisitor.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/planner/physical/HeadOperator.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/planner/physical/PhysicalPlanDSL.java
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/planner/physical/PhysicalPlanNodeVisitor.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/analysis/AnalyzerTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/executor/ExplainTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/planner/DefaultImplementorTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/planner/logical/LogicalPlanNodeVisitorTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/planner/physical/HeadOperatorTest.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/planner/physical/PhysicalPlanNodeVisitorTest.java
  docs/experiment/ppl/cmd/head.rst
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/executor/protector/ElasticsearchExecutionProtector.java
  elasticsearch/src/test/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/executor/ElasticsearchExecutionProtectorTest.java
  integ-test/src/test/java/com/amazon/opendistroforelasticsearch/sql/ppl/HeadCommandIT.java
  ppl/src/main/antlr/OpenDistroPPLLexer.g4
  ppl/src/main/antlr/OpenDistroPPLParser.g4
  ppl/src/main/java/com/amazon/opendistroforelasticsearch/sql/ppl/parser/AstBuilder.java
  ppl/src/main/java/com/amazon/opendistroforelasticsearch/sql/ppl/utils/ArgumentFactory.java
  ppl/src/main/java/com/amazon/opendistroforelasticsearch/sql/ppl/utils/PPLQueryDataAnonymizer.java
  ppl/src/test/java/com/amazon/opendistroforelasticsearch/sql/ppl/parser/AstBuilderTest.java
  ppl/src/test/java/com/amazon/opendistroforelasticsearch/sql/ppl/utils/PPLQueryDataAnonymizerTest.java
Labels: Breaking Changes, PPL

#1027 Remove request id in response listener logging
  legacy/src/main/java/com/amazon/opendistroforelasticsearch/sql/legacy/plugin/RestSQLQueryAction.java
Labels: SQL

#1037 Refresh PPL documentation
  docs/experiment/ppl/cmd/rare.rst
  docs/experiment/ppl/cmd/sort.rst
  docs/experiment/ppl/cmd/stats.rst
Labels: PPL, documentation

#1044 The empty array values should be treated as null value when parsing json content
  elasticsearch/src/main/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/data/utils/ElasticsearchJsonContent.java
  elasticsearch/src/test/java/com/amazon/opendistroforelasticsearch/sql/elasticsearch/data/value/ElasticsearchExprValueFactoryTest.java
Labels: bug

#1050 Update new engine release doc
  README.md
  docs/category.json
  docs/dev/NewSQLEngine.md
  docs/presentations/20201116-sql-demo.md
  docs/user/general/comments.rst
  docs/user/index.rst
  workbench/README.md
Labels: SQL, documentation

#1053 Support type name INTEGER for CAST statement
  core/src/main/java/com/amazon/opendistroforelasticsearch/sql/ast/expression/Cast.java
  core/src/test/java/com/amazon/opendistroforelasticsearch/sql/ast/expression/CastTest.java
  docs/user/dql/functions.rst
  integ-test/src/test/resources/correctness/expressions/cast.txt
  sql/src/main/antlr/OpenDistroSQLLexer.g4
  sql/src/main/antlr/OpenDistroSQLParser.g4
Labels: SQL, enhancement

#1063 Bump Lodash version
  workbench/package.json
  workbench/yarn.lock
Labels: security
